.color-head {
  color: #208944;
}

.alignLeft {
  text-align: left !important;
}

.tdFullAlignCenter {
  text-align: center;
  vertical-align: middle !important;
  font-weight: normal;
}

.sortorder:after {
  content: '\25bc';
}

.sortorder.reverse:after {
  content: '\25b2';
}

.unresizeable {
  resize: none;
}

.text-align-left {
  text-align: left;
}

#newCred::-webkit-inner-spin-button, #newCred::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.node_block {
  color: #208944;
  cursor: default;
}

.node_child {
  padding-left: 20px !important;
  cursor: default;
}

.fontNormal {
  font-weight: normal !important;
}

.chosenWidth {
  width: 600px !important;
}

.imgHeight {
  height: 200px;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 0 0 0;
}

.objImages {
  height: 60px;
  border: 1px solid #000;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 5px;
}

.marginLeftRight {
  margin: 0 10px 0 10px;
}

.minWidthTwoButtons {
  min-width: 85px;
}

.zindexHigh {
  z-index: 1060 !important;
}


.overflowHorizontal {
  overflow: hidden !important;
  white-space: pre-line !important;
}

/*temp solution!!!*/
.editable-checklist label {
  display: block;
  font-weight: normal !important;
}

.listOfTeachers {
  text-align: left!important;
  white-space: pre-line !important;
}

.paddingTop20 {
  padding-top: 20px;
}

/*.hideMessage {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;    
    -o-animation: cssAnimation 0s ease-in 5s forwards;    
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% {
        opacity: 0;
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% {
        opacity: 0;
        width:0;
        height:0;
        overflow:hidden;
    }
}*/

.uiSelectMatchFullname > span > .ui-select-match-text > span {
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;    
}

.marginTop9px {
  margin-top: 9px;
}

.displayNone {
  display: none !important;
}

.displayInlineBlock {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .selectMarginTop {
    margin-top: 10px !important;
  }
}