html,
body {
  height: 100%;
  min-height: 100%;
  color: #111;
  font-size: 10pt;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.navbar-inverse.navbar {
  background-color: #208944;
}

.about {
  margin-top: 15px;
  margin-bottom: 15px;
}

.green .navbar-right {
  margin-right: 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #449d44;
  border-color: #398439;
}

.btn-primary:hover:not(.btn-link):not(.btn-flat) {
  background-color: #449d44;
  border-color: #398439;
}

#campus-session-id {
  min-width: 270px;
}

#progress {
  display: none;
}

#message-box {
  padding: 10px;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

a,
.link {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}

.information-link {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 11pt;
  cursor: pointer;
}

.white {
  background-color: #FFF;
}

.green {
  background-color: #208843;
}

.green .navbar-right {
  margin-right: 0;
}

#support-modal {
  color: #000000;
}

#support-modal a,
.nav-tabs > li > a {
  color: #208843;
}

#moderator,
#new_message {
  margin-bottom: 10px;
}

a,
.btn,
textarea,
.input-group-addon:first-child,
input {
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}

a,
.btn {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover,
.btn:hover {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:focus,
.btn:active:focus {
  outline: none !important;
}

.dummy {
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

a,
.link {
  color: #208843;
  cursor: pointer;
}

a:hover,
.link:hover {
  color: #208843;
  text-decoration: underline;
}

.dummy .btn-default {
  background-color: #00a651;
  color: #FFF;
  border-color: #19b464;
}

.dummy .btn-default:hover {
  background-color: #00aa44;
  color: #FFF;
}

.dummy a,
footer a {
  color: #ecc103;
}

.dummy a:hover {
  color: #fff;
}

footer a:hover {
  color: #208843;
}

.public-wrap {
  background-color: #208843;
  margin-bottom: 0 !important;
  padding-bottom: 50px;
}

.remeber-me input[type="checkbox"]:checked + .checkbox {
  background-position: 0;
}

header {
  color: #208944;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 10pt;
  text-transform: uppercase;
  vertical-align: middle;
}

.header-nav .navbar {
  display: block;
  margin: 0 18px 0 0;
  border: none;
  color: #3c9;
}

.top-header {
  height: 60px;
}

.top-header:after {
  display: block;
  clear: both;
  content: "";
}

.menu-toggle {
  display: none;
  margin: 10px 0 0 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #208843;
  border-radius: 4px;
  color: #208843;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.menu-toggle:hover {
  background: #208843;
  color: #fff;
}

.menu-toggle i {
  font-size: 1.1em;
  line-height: 40px;
}

.content {
  /*overflow: hidden;*/
  margin-bottom: 25px;
  background-color: #FFF;
}

.public-wrap .content {
  background-color: #208944;
}

.content .left-col {
  display: block;
  float: left;
  width: 218px;
}

.content .md-col {
  overflow: hidden;
  margin: 0 0 0 218px;
  margin-bottom: 125px;
  padding: 0;
  padding-left: 10px;
  min-height: 35px;
}

.content .right-col {
  position: absolute;
  top: 210px;
  right: 0;
  z-index: 999;
  width: 0;
  background: #208843;
  color: #fff;
}

.right-col.show {
  right: 0 !important;
  width: 220px;
}

.left-nav {
  margin: 0;
  padding: 0;
}

header .logo {
  margin-top: 0;
  height: 51px;
  margin-bottom: 0;
  float: left;
  margin-left: 0;
}

.logo-green {
  margin: auto;
}

.left-nav a {
  position: relative;
  display: block;
  padding: 8px 18px 8px 12px;
  color: #9a6505;
  text-decoration: none;
}

.left-nav a:hover {
  color: #694709;
  text-decoration: none;
}

.wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  font-size: 8pt;
  border-top: 2px solid #208944;
  padding-top: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  min-height: 100px;
  margin-top: 35px;
}

footer:after {
  display: block;
  clear: both;
  content: "";
}

footer a {
  color: #555;
}

footer a:hover {
}

@media screen and (max-width: 1200px) {
  .logo-kpi {
    padding: 0 46px !important;
  }

  .header-logo {
    margin-left: 20px !important;
  }

  .header-nav .navbar {
    margin: 0 20px 0 0 !important;
  }

  .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  footer .text-left,
  footer .text-right {
    float: none !important;
    margin-bottom: 6px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    /*padding: 5px 0 !important;*/
    font-size: .7em;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .content .md-col {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  footer .col-md-6,
  footer .text-right {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    margin-top: 10px;
  }

  .content .right-col {
    margin-top: 0;
  }

  .content .left-col {
    margin-top: 0;
  }

  footer {
    height: auto !important;
  }
}

@media screen and (max-width: 379px) {
  header {
    text-align: center !important;
  }

  .logo {
    display: none;
  }

  header .text-right {
    text-align: center !important;
  }
}

input[type="radio"] {
  display: inline-block;
  vertical-align: top;
  margin: 1px 8px 0 0;
}

input[type="radio"] + label {
  margin-right: 15px;
}

/*Bootstap customize*/

.mod {
  background-color: #F2F2F2;
  padding: 30px;
}

.glyphicon-eye-open {
  color: green;
}

.UserCredo {
  text-align: center;
  cursor: pointer;
}

#NewUserCredoTextBox {
  overflow: hidden;
  width: 90%;
  height: 15%;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px !important;
}

.file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/*# sourceMappingURL=site.css.map */

.form-control {
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn-primary {
  background-color: #f0a433 !important;
  border-color: #f08833 !important;
}

.content {
  overflow: hidden;
  min-height: 500px;
}

/*------Common-------*/

.site-tile,
.site-header,
.site-header-table,
.site-carousel,
.site-breadcrumbs,
.site-second-level-menu,
.site-content,
.site-footer {
  border-collapse: collapse;
}

.orange {
  color: #f0a433;
}

.popover {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.form-group .captcha-container {
  height: 80px;
  overflow: hidden;
}

.text-left {
  text-align: left;
}

.sad-cat {
  width: 200px;
  margin-top: 10px;
  margin: 0 auto;
}

/*home and bulletins-board styles*/

.main-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info {
  float: right !important;
  margin: 20px 0 20px 0;
}

.user-img {
  width: 64px;
  text-align: center;
  display: block;
  margin: auto;
}

.user-name {
  display: inline;
  margin: auto;
  text-align: center;
  color: #777;
}

.text {
  display: inline;
  margin-right: 10px;
}

.special-user-img {
  display: inline;
}

.special-user-img > i {
  color: #208843;
  vertical-align: middle;
}

.menu-block > a > img {
  width: 100px;
  height: 100px;
}

.menu-block {
  width: 200px;
  height: 160px;
  padding: 25px 5px;
  text-decoration: none;
}

.menu-block .dropdown-menu {
  width: 200px;
  border-radius: 0;
}

.menu-block a span {
  text-align: center;
  color: #208843;
  font-size: 18px;
}

.menu-block a {
  display: block;
  text-decoration: none;
}

.menu-block a:hover {
  text-decoration: none;
}

#bulletins {
}

#bulletins,
#download-bulletins,
#error-bulletins {
  padding-top: 20px;
}

a.bulletin-title:hover {
  color: #fff !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  background-color: #208843;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav.nav-bulletins > li > a:hover {
  text-decoration: none;
  background-color: #208843;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/*.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #208843;
}*/

/* disciplines choice styles*/
.info-load {
  color: #208843;
}

.panel .active .disciplines-panel {
  cursor: default;
}

.disciplines-subdivision-name {
  color: gray;
}

.disciplines-students-count {
  color: gray;
}

.selective-disciplines-wrapper {
  margin-top: 15px;
}

.panel-title-image {
  text-align: center;
  min-height: 30px;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 0 0;
  background: url("../images/home/open-book.png") no-repeat;
  background-size: 30px 30px;
}

@media screen and (max-width: 430px) {
  .panel-title-image {
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0 0;
    background: url("../images/home/open-book.png") no-repeat;
    background-size: 20px 20px;
  }

  .disciplines-header {
    text-align: center;
    min-height: 40px;
    font-size: 1px;
    line-height: 40px;
    margin: 0 0 0 0;
  }
}

.disciplines-header {
  text-align: center;
  min-height: 40px;
  font-size: 18px;
  line-height: 40px;
  margin: 0 0 20px 0;
  color: #208843;
}

.specialization-info, .okr-info {
  text-align: center;
  padding: 10px 0 0 0;
}

.specialization-code, .specialization-name, .okr-name {
  display: inline-block;
  font-size: 22px;
}

.tab-pane.course {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: default;
}

div.row.well.well-md.disciplines-info {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 15px;
  border-radius: 0;
}

.selective-disciplines-navs {
  padding-left: 0;
  padding-right: 0;
}

.selective-disciplines-info {
  padding-top: 0;
  padding-right: 0;
}

div.row.account-info {
  padding: 0 15px 0 15px;
}

.course, .group, .start-year, .current-year {
  overflow: hidden;
}

.semester, .description, .block-name, .status, .discipline {
  overflow: hidden;
}

input[type="radio"].radio-disciplines-choice {
  margin: 0 2px 0 2px;
  position: relative;
  left: 0;
  vertical-align: baseline;
}

label.label-disciplines-choice {
  padding-left: 0;
}

.loading-data div {
  color: #6e776e;
}

.discipline-general-count {
  margin-bottom: 0;
  background-color: #ffffff;
  border: solid #208843 1px;
}

div.progress-student-count {
  color: white;
}

.nav > li > a.nav-pills-campus__item {
  position: relative;
  display: block;
  padding: 0 0;
}

/* end disciplines choice*/

/* attestation styles */
.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
  background-color: #208944;
}

.form-control:focus {
  border-color: #208944;
  outline: 0;
  box-shadow: none;
}

.error-load-attest {
  color: red;
  margin-top: 10px;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
  max-height: 400px;
}

.attest-menu, .attest-alert {
  margin: 20px 0 20px 0;
}

.nav-pills-attest > li.active > a, .nav-pills-attest > li.active > a:hover, .nav-pills-attest > li.active > a:focus {
  color: #fff;
  background-color: #208944;
}

.attest-navigation > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 1px solid #208944;
  margin: 5px 5px 5px 5px;
}

.nav-pills-attest > li + li {
  margin-left: 0;
}

.table-hover > tbody > tr:hover {
  background-color: #e8f3ec;
}

.btn-result {
  margin: 20px 0
}

/* end attestation styles*/
.study-profile,
.item {
  padding-left: 30px;
  padding-right: 30px;
}

.panel-item {
  padding-right: 20px;
  font-size: 18px;
  font-weight: lighter;
}

.panel-default > .panel-heading {
  color: #208843;
  font-size: 20px;
  font-weight: lighter;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #208843;
  border-color: #208843;
}

.panel-primary {
  border-color: #208843;
}

.nav-pills li a {
  background-color: #208843;
  color: #f5f5f5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 0;
  padding: 5px;
}

.nav-pills li a img {
  width: 18px;
  vertical-align: middle;
}

.nav-pills li a span {
  font-size: 16px;
  vertical-align: middle;
}

.panel-group {
  margin: 10px 0;
}

.panel,
.panel-heading {
  border-radius: 0 !important;
  font-size: 14px;
}

.panel-heading h4 a {
  text-decoration: none;
}

.article-title:hover {
  color: #f5f5f5;
}

.article-user {
  padding-left: 8px;
}

.article-date {
  padding-left: 2px;
}

.modal-body {
  background-color: #FFF;
}

.navigation {
  font-size: 9pt;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 30px;
  border-radius: 0;
}

.navigation > .container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.navigation > .container li a {
  font-size: 8pt;
  /*padding: 5px;*/
}

.navigation > .container li a:hover {
  /*background-color: #FFF;*/
}

.campus-navigation .nav > li > a:hover,
.campus-navigation .nav > li > a:focus {
  background-color: #FFF;
}

.breadcrumb {
  background-color: #FFF;
  font-size: 8pt;
  margin-bottom: 0;
  border-bottom: 2px solid #208944;
  border-radius: 0;
  margin-top: 0;
  padding: 0 15px 5px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
