html,
body {
    height: 100%;
    min-height: 100%;
    color: #111;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
}

.navbar-inverse.navbar {
    background-color: #208944;
}

.about {
    margin-top: 15px;
    margin-bottom: 15px;
}

.green .navbar-right {
    margin-right: 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #449d44;
    border-color: #398439;
}

.btn-primary:hover:not(.btn-link):not(.btn-flat) {
    background-color: #449d44;
    border-color: #398439;
}

#campus-session-id {
    min-width: 270px;
}

#progress {
    display: none;
}

#message-box {
    padding: 10px;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}

a,
.link {
    cursor: pointer;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.row:after {
    display: block;
    clear: both;
    content: "";
}

.information-link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 11pt;
    cursor: pointer;
}

.white {
    background-color: #FFF;
}

.green {
    background-color: #208843;
}

.green .navbar-right {
    margin-right: 0;
}

#support-modal {
    color: #000000;
}

#support-modal a,
.nav-tabs>li>a {
    color: #208843;
}

#moderator,
#new_message {
    margin-bottom: 10px;
}

a,
.btn,
textarea,
.input-group-addon:first-child,
input {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

a,
.btn {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
.btn:hover {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.btn:focus,
.btn:active:focus {
    outline: none !important;
}

.dummy {
    padding-top: 30px;
    color: #fff;
    text-align: center;
}

a,
.link {
    color: #208843;
    cursor: pointer;
}

a:hover,
.link:hover {
    color: #208843;
    text-decoration: underline;
}

.dummy .btn-default {
    background-color: #00a651;
    color: #FFF;
    border-color: #19b464;
}

.dummy .btn-default:hover {
    background-color: #00aa44;
    color: #FFF;
}

.dummy a,
footer a {
    color: #ecc103;
}

.dummy a:hover {
    color: #fff;
}

footer a:hover {
    color: #208843;
}

.public-wrap {
    background-color: #208843;
    margin-bottom: 0 !important;
    padding-bottom: 50px;
}

.remeber-me input[type="checkbox"]:checked+.checkbox {
    background-position: 0;
}

header {
    color: #208944;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    letter-spacing: 1px;
    font-size: 10pt;
    text-transform: uppercase;
    vertical-align: middle;
}

header .logo-kpi {
    margin-top: 6px;
    padding: 0 15px;
    width: 64px;
    height: 48px;
    background: url("/images/logo-kpi.png") center no-repeat;
}

.header-logo {
    margin: 0 0 0 50px;
    height: 60px;
}

.header-logo img {
    position: relative;
    margin: auto;
    height: 100%;
}

.header-nav .navbar {
    display: block;
    margin: 0 18px 0 0;
    border: none;
    color: #3c9;
}

.top-header {
    height: 60px;
}

.top-header:after {
    display: block;
    clear: both;
    content: "";
}

.menu-toggle {
    display: none;
    margin: 10px 0 0 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #208843;
    border-radius: 4px;
    color: #208843;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.menu-toggle:hover {
    background: #208843;
    color: #fff;
}

.menu-toggle i {
    font-size: 1.1em;
    line-height: 40px;
}

.navbar ul {
    margin: 0;
    text-align: right;
}

.navbar ul>li {
    display: inline-block;
    vertical-align: middle;
}

.navbar ul>li>a {
    display: block;
    margin-left: 14px;
    width: 40px;
    height: 40px;
    border: 1px solid #3c9;
    border-radius: 4px;
    color: inherit;
    text-align: center;
}

.navbar ul>li>a>i {
    vertical-align: top;
    font-size: 2em;
    line-height: 40px;
}

.navbar ul>li>a:hover {
    border-color: #fff;
    color: #fff;
}

.navbar .user-name {
    margin-top: 8px;
}

.navbar .user-name a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navbar .user-name a:hover {
    color: #fff;
}

.carousel {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    height: auto;
}

.content {
    /*overflow: hidden;*/
    margin-bottom: 25px;
    background-color: #FFF;
}

.public-wrap .content {
    background-color: #208944;
}

.content .left-col {
    display: block;
    float: left;
    width: 218px;
}

.content .md-col {
    overflow: hidden;
    margin: 0 0 0 218px;
    margin-bottom: 125px;
    padding: 0;
    padding-left: 10px;
    min-height: 35px;
}

.content .right-col {
    position: absolute;
    top: 210px;
    right: 0;
    z-index: 999;
    width: 0;
    background: #208843;
    color: #fff;
}

.right-col.show {
    right: 0 !important;
    width: 220px;
}

.left-nav {
    margin: 0;
    padding: 0;
}

.left-nav a {
    position: relative;
    display: block;
    padding: 8px 18px 8px 12px;
    color: #9a6505;
    text-decoration: none;
}

.left-nav a:hover {
    color: #694709;
    text-decoration: none;
}

.wrap {
    margin-top: 30px;
    margin-bottom: 30px;
}

footer {
    font-size: 8pt;
    border-top: 2px solid #208944;
    padding-top: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    min-height: 100px;
}

footer:after {
    display: block;
    clear: both;
    content: "";
}

footer a {
    color: #555;
}

footer a:hover {}

@media screen and (max-width: 1200px) {
    .logo-kpi {
        padding: 0 46px !important;
    }
    .header-logo {
        margin-left: 20px !important;
    }
    .header-nav .navbar {
        margin: 0 20px 0 0 !important;
    }
    .container {
        width: 100% !important;
    }
}

@media screen and (max-width: 991px) {
    footer .text-left,
    footer .text-right {
        float: none !important;
        margin-bottom: 6px;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    footer {
        /*padding: 5px 0 !important;*/
        font-size: .7em;
        text-align: center;
    }
    .menu-toggle {
        display: block;
    }
    .content .md-col {
        margin: 10px 0 0 0;
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 520px) {
    footer .col-md-6,
    footer .text-right {
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

@media screen and (max-width: 480px) {
    .login-box {
        margin-top: 10px;
    }
    .content .right-col {
        margin-top: 0;
    }
    .content .left-col {
        margin-top: 0;
    }
    footer {
        height: auto !important;
    }
}

@media screen and (max-width: 379px) {
    header {
        text-align: center !important;
    }
    header .text-right {
        text-align: center !important;
    }
}

input[type="radio"] {
    display: inline-block;
    vertical-align: top;
    margin: 1px 8px 0 0;
}

input[type="radio"]+label {
    margin-right: 15px;
}


/*Bootstap customize*/

.mod {
    background-color: #F2F2F2;
    padding: 30px;
}

.glyphicon-eye-open {
    color: green;
}

.UserCredo {
    text-align: center;
    cursor: pointer;
}

#NewUserCredoTextBox {
    overflow: hidden;
    width: 90%;
    height: 15%;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 0;
    margin-bottom: 20px !important;
}

.file-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*# sourceMappingURL=site.css.map */

.form-control {
    -ms-border-radius: 0;
    border-radius: 0;
}

.btn-primary {
    background-color: #f0a433 !important;
    border-color: #f08833 !important;
}

.content {
    overflow: hidden;
    min-height: 500px;
}


/*------Common-------*/

.site-tile,
.site-header,
.site-header-table,
.site-carousel,
.site-breadcrumbs,
.site-second-level-menu,
.site-content,
.site-footer {
    border-collapse: collapse;
}

.orange {
    color: #f0a433;
}

.popover {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.form-group .captcha-container {
    height: 80px;
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.logo-green {
    margin: 0 auto;
}

.loader div {
    margin: 0 auto;
}


/*.btn-fb,
.btn-vk {
    width: 175px;
    font-size: 0.7em;
    margin-bottom: 5px;
}

.btn-fb {
    background-color: #3B5998;
}

.btn-fb:hover {
    background-color: #2B4488;
}

.btn-vk {
    background-color: #507299;
}

.btn-vk:hover {
    background-color: #405077;
}*/

.sad-cat {
    width: 200px;
    margin-top: 10px;
    margin: 0 auto;
}


/*home and bulletins-board styles*/

.main-menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-info {
    float: right !important;
    margin: 20px 0 20px 0;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background: url(../images/home/user.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.user-name {
    display: inline;
    margin: auto;
    text-align: center;
    color: #777;
}

.text {
    display: inline;
    margin-right: 10px;
}

.special-user-img {
    display: inline;
}

.special-user-img>i {
    color: #208843;
    vertical-align: middle;
}

.menu-block>a>img {
    width: 100px;
    height: 100px;
}

.menu-block {
    width: 200px;
    height: 160px;
    padding: 25px 5px;
    text-decoration: none;
}

.menu-block .dropdown-menu {
    width: 200px;
    border-radius: 0;
}

.menu-block a span {
    text-align: center;
    color: #208843;
    font-size: 18px;
}

.menu-block a {
    display: block;
    text-decoration: none;
}

.menu-block a:hover {
    text-decoration: none;
}

#bulletins {
    width: 921px;
}

#bulletins,
#download-bulletins,
#error-bulletins {
    padding-top: 20px;
}

a.bulletin-title:hover {
    color: #fff !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #208843;
    opacity: 1;
    filter: alpha(opacity=100);
}


/*.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #208843;
}*/

#disciplines {
    width: 921px;
}

.carousel-control.left {
    background-image: none;
    width: 30px;
    height: 30px;
}

.carousel-control.right {
    background-image: none;
    width: 30px;
    height: 30px;
    left: 270px;
}

.carousel-control.left>span,
.carousel-control.right>span {
    font-size: 18px;
    color: black;
}

.study-profile,
.item {
    padding-left: 30px;
    padding-right: 30px;
}

.panel-item {
    padding-right: 20px;
    font-size: 18px;
    font-weight: lighter;
}

.panel-default>.panel-heading {
    color: #208843;
    font-size: 20px;
    font-weight: lighter;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #208843;
    border-color: #208843;
}

.panel-primary {
    border-color: #208843;
}

.nav-pills li a {
    background-color: #208843;
    color: #f5f5f5;
    opacity: 0.5;
    filter: alpha(opacity=50);
    border-radius: 0;
    padding: 5px;
}

.nav-pills li a img {
    width: 18px;
    vertical-align: middle;
}

.nav-pills li a span {
    font-size: 16px;
    vertical-align: middle;
}

.panel-group {
    margin: 10px 0;
}

.panel,
.panel-heading {
    border-radius: 0 !important;
    font-size: 14px;
}

.panel-heading h4 a {
    text-decoration: none;
}

.article-title:hover {
    color: #f5f5f5;
}

.article-user {
    padding-left: 8px;
}

.article-date {
    padding-left: 2px;
}

.modal-body {
    background-color: #FFF;
}

.webix_tree.webix_view {
  height: auto !important;
  width: auto !important;
}

.webix_tree_checkbox {
  margin: 0 0 0 !important;
}
.webix_tree_item.webix_selected {
  background: #208843 !important;
}
.webix_tree .webix_scroll_cont>.webix_tree_leaves {
  padding: 0 0 0 0;
}

.webix_selected > .webix_tree_close, .webix_selected > .webix_tree_open {
  color: white;
}

.campus-navigation {
    font-size: 9pt;
}
