html,
body {
  height: 100%;
  min-height: 100%;
  color: #111;
  font-size: 10pt;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
}

.navbar-inverse.navbar {
  background-color: #208944;
}

.about {
  margin-top: 15px;
  margin-bottom: 15px;
}

.green .navbar-right {
  margin-right: 0;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
  background-color: #449d44;
  border-color: #398439;
}

.btn-primary:hover:not(.btn-link):not(.btn-flat) {
  background-color: #449d44;
  border-color: #398439;
}

#campus-session-id {
  min-width: 270px;
}

#progress {
  display: none;
}

#message-box {
  padding: 10px;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

a,
.link {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.row:after {
  display: block;
  clear: both;
  content: "";
}

.information-link {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  font-size: 11pt;
  cursor: pointer;
}

.white {
  background-color: #FFF;
}

.green {
  background-color: #208843;
}

.green .navbar-right {
  margin-right: 0;
}

#support-modal {
  color: #000000;
}

#support-modal a,
.nav-tabs > li > a {
  color: #208843;
}

#moderator,
#new_message {
  margin-bottom: 10px;
}

a,
.btn,
textarea,
.input-group-addon:first-child,
input {
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}

a,
.btn {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover,
.btn:hover {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn:focus,
.btn:active:focus {
  outline: none !important;
}

.dummy {
  padding-top: 30px;
  color: #fff;
  text-align: center;
}

a,
.link {
  color: #208843;
  cursor: pointer;
}

a:hover,
.link:hover {
  color: #208843;
  text-decoration: underline;
}

.dummy .btn-default {
  background-color: #00a651;
  color: #FFF;
  border-color: #19b464;
}

.dummy .btn-default:hover {
  background-color: #00aa44;
  color: #FFF;
}

.dummy a,
footer a {
  color: #ecc103;
}

.dummy a:hover {
  color: #fff;
}

footer a:hover {
  color: #208843;
}

.public-wrap {
  background-color: #208843;
  margin-bottom: 0 !important;
  padding-bottom: 50px;
}

.remeber-me input[type="checkbox"]:checked + .checkbox {
  background-position: 0;
}

header {
  color: #208944;
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 8pt;
  text-transform: uppercase;
  vertical-align: middle;
}

.header-nav .navbar {
  display: block;
  margin: 0 18px 0 0;
  border: none;
  color: #3c9;
}

.top-header {
  height: 60px;
}

.top-header:after {
  display: block;
  clear: both;
  content: "";
}

.menu-toggle {
  display: none;
  margin: 10px 0 0 10px;
  width: 40px;
  height: 40px;
  border: 1px solid #208843;
  border-radius: 4px;
  color: #208843;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.menu-toggle:hover {
  background: #208843;
  color: #fff;
}

.menu-toggle i {
  font-size: 1.1em;
  line-height: 40px;
}

.content {
  /*overflow: hidden;*/
  margin-bottom: 25px;
  background-color: #FFF;
}

.public-wrap .content {
  background-color: #208944;
}

.content .left-col {
  display: block;
  float: left;
  width: 218px;
}

.content .md-col {
  overflow: hidden;
  margin: 0 0 0 218px;
  margin-bottom: 125px;
  padding: 0;
  padding-left: 10px;
  min-height: 35px;
}

.content .right-col {
  position: absolute;
  top: 210px;
  right: 0;
  z-index: 999;
  width: 0;
  background: #208843;
  color: #fff;
}

.right-col.show {
  right: 0 !important;
  width: 220px;
}

.left-nav {
  margin: 0;
  padding: 0;
}

header .logo {
  margin-top: 0;
  height: 51px;
  margin-bottom: 0;
  float: left;
  margin-left: 0;
}

.logo-green {
  margin: auto;
}

.left-nav a {
  position: relative;
  display: block;
  padding: 8px 18px 8px 12px;
  color: #9a6505;
  text-decoration: none;
}

.left-nav a:hover {
  color: #694709;
  text-decoration: none;
}

.wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  font-size: 8pt;
  border-top: 2px solid #208944;
  padding-top: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  min-height: 100px;
  margin-top: 35px;
}

footer:after {
  display: block;
  clear: both;
  content: "";
}

footer a {
  color: #555;
}

footer a:hover {
}

@media screen and (max-width: 1200px) {
  .logo-kpi {
    padding: 0 46px !important;
  }

  .header-logo {
    margin-left: 20px !important;
  }

  .header-nav .navbar {
    margin: 0 20px 0 0 !important;
  }

  .container {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  footer .text-left,
  footer .text-right {
    float: none !important;
    margin-bottom: 6px;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    /*padding: 5px 0 !important;*/
    font-size: .7em;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .content .md-col {
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  footer .col-md-6,
  footer .text-right {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    margin-top: 10px;
  }

  .content .right-col {
    margin-top: 0;
  }

  .content .left-col {
    margin-top: 0;
  }

  footer {
    height: auto !important;
  }
}

@media screen and (max-width: 379px) {
  header {
    text-align: center !important;
  }

  .logo {
    display: none;
  }

  header .text-right {
    text-align: center !important;
  }
}

input[type="radio"] {
  display: inline-block;
  vertical-align: top;
  margin: 1px 8px 0 0;
}

input[type="radio"] + label {
  margin-right: 15px;
}

/*Bootstap customize*/

.mod {
  background-color: #F2F2F2;
  padding: 30px;
}

.glyphicon-eye-open {
  color: green;
}

.UserCredo {
  text-align: center;
  cursor: pointer;
}

#NewUserCredoTextBox {
  overflow: hidden;
  width: 90%;
  height: 15%;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px !important;
}

.file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

/*# sourceMappingURL=site.css.map */

.form-control {
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn-primary {
  background-color: #f0a433 !important;
  border-color: #f08833 !important;
}

.content {
  overflow: hidden;
  min-height: 500px;
}

/*------Common-------*/

.site-tile,
.site-header,
.site-header-table,
.site-carousel,
.site-breadcrumbs,
.site-second-level-menu,
.site-content,
.site-footer {
  border-collapse: collapse;
}

.orange {
  color: #f0a433;
}

.popover {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.form-group .captcha-container {
  height: 80px;
  overflow: hidden;
}

.text-left {
  text-align: left;
}

.sad-cat {
  width: 200px;
  margin: 0 auto;
}

/*home and bulletins-board styles*/

.main-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-info {
  float: right !important;
  margin: 20px 0 20px 0;
}

.user-img {
  width: 64px;
  text-align: center;
  display: block;
  margin: auto;
}

.user-name {
  display: inline;
  margin: auto;
  text-align: center;
  color: #777;
}

.text {
  display: inline;
  margin-right: 10px;
}

.special-user-img {
  display: inline;
}

.special-user-img > i {
  color: #208843;
  vertical-align: middle;
}

.menu-block > a > img {
  width: 100px;
  height: 100px;
}

.menu-block {
  width: 200px;
  height: 160px;
  padding: 25px 5px;
  text-decoration: none;
}

.menu-block .dropdown-menu {
  width: 200px;
  border-radius: 0;
}

.menu-block a span {
  text-align: center;
  color: #208843;
  font-size: 18px;
}

.menu-block a {
  display: block;
  text-decoration: none;
}

.menu-block a:hover {
  text-decoration: none;
}

#bulletins {
}

#bulletins,
#download-bulletins,
#error-bulletins {
  padding-top: 20px;
}

a.bulletin-title:hover {
  color: #fff !important;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  background-color: #208843;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav.nav-bulletins > li > a:hover {
  text-decoration: none;
  background-color: #208843;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* disciplines choice styles*/
.title-panel-student-info {
  padding: 15px;
}

.info-load {
  color: #208843;
}

.panel .active .panel-student-info {
  cursor: default;
}

.panel-student-info {
  margin: 0;
}

.discipline-subdivision-name {
  color: gray;
}

.discipline-students-count {
  color: gray;
  margin: 3px 0;
  padding: 0;
}

.info-about-student {
  margin: 0;
}

.show-choice h5, h4 {
  margin: 3px 0;
}

.panel-title-image {
  text-align: center;
  min-height: 30px;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  background: url("/images/home/open-book.png") no-repeat;
  background-size: 30px 30px;
}

@media screen and (max-width: 430px) {
  .panel-title-image {
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background: url("/images/home/open-book.png") no-repeat;
    background-size: 20px 20px;
  }

  .disciplines-header {
    text-align: center;
    font-size: 1px;
    margin: 0;
  }
}

.disciplines-header {
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  color: #208843;
}

.panel-student-info-body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.specialization-info, .okr-info {
  text-align: center;
  padding: 10px 0 0 0;
}

.specialization-code, .specialization-name, .okr-name {
  display: inline-block;
  font-size: 22px;
}

.confirm-title {
  padding: 0;
  margin: 0;
}

.attention-text, .choice-list {
  padding: 0;
  margin: 0;
}

.chosen-confirm-blocks-list {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
}

.chosen-confirm-disciplines-list {
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
}

.chosen-element {
  margin: 0;
}

.tab-pane.course {
  margin: 0;
  padding: 0;
  cursor: default;
}

.disciplines-info {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.choice-semester {
  margin: 0 0 15px 0;
}

.selective-disciplines-navs {
  padding-left: 0;
  padding-right: 0;
}

.selective-disciplines-info {
  padding-right: 0;
}

.disciplines-list {
  padding: 0 0 0 35px;
}

.block-info {
  padding-bottom: 0;
}

.course, .group, .start-year, .current-year {
  overflow: hidden;
}

.semester, .description, .block-name, .status, .discipline {
  overflow: hidden;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  position: relative;
  margin-top: 4px \9;
  margin-left: 0;
}

.discipline-choice-checkbox {
  margin: 3px 0;
  padding: 0;
}

label.label-disciplines-choice {
  padding-left: 0;
}

.loader {
  height: 80px;
  border: 1px solid #EEE;
  text-align: center;
  position: fixed;
  width: 200px;
  top: calc(50vh - (/* height */100px / 2));
  left: calc(50vw - (/* width */140px / 2));
  z-index: 1000;
  background: #FFF;
  padding: 10px;
  margin-top: -70px;
}

.text-student-count {
  margin: 0;
}

.discipline-count-info {
  margin: 3px 0;
  padding: 0;
}

.student-general-count {
  margin: 3px 0;
  padding: 0;
  background-color: #ffffff;
  border: solid #208843 1px;
}

.student-count {
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

div.progress-student-count {
  color: white;
}

.nav > li > a.nav-pills-campus__item {
  position: relative;
  display: block;
  padding: 0;
}

.choice-show-details {
  color: #208843;
  cursor: pointer;
}

.panel-body.blocks-panel {
  padding: 0;
}

.panel-default > div.panel-heading.semester-heading {
  color: #111;
  font-size: 16px;
  font-weight: lighter;
}

.semester-heading {
  padding: 0;
}

.blocks-list {
  margin-bottom: 0;
}

.labels {
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.labels-group {
  padding: 15px 0 15px 15px;
}

.loading-data {
  line-height: 1.5;
  padding: 15px 15px 15px 0;
}

li.list-group-item.blocks-list-item {
  padding: 0;
}

.list-group-item.blocks-list-item {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.blocks-list-item {
  border-top: 1px solid #ddd;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
}

.box.box-solid {
  border-top: 0;
  margin-bottom: 0;
}

.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header.with-border {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.box-header .box-title {
  display: inline-block;
  font-size: 14px;
  margin: 0;
  line-height: 1;
  font-weight: bold;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.description-list {
  margin-bottom: 0;
}

.chosen-blocks-list {
  list-style: circle;
}

.go-back {
  margin-top: 10px;
}

.blocks-unavailable {
  padding-left: 15px;
  color: red;
}

.choice-result {
  padding: 15px 0 15px 15px;
}

.save-result {
  padding: 15px 0 15px 15px;
}

.chosen-blocks-list-item {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/* end disciplines choice*/

/* attestation styles */
.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px;
}

.selectize-control > .selectize-dropdown {
  top: 36px;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: #208944;
}

.form-control:focus {
  border-color: #208944;
  outline: 0;
  box-shadow: none;
}

.error-load-attest {
  color: red;
  margin-top: 10px;
}

.ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
  max-height: 400px;
}

.year-select, .semester-select, .attest-num-select, .student-select,
.lecturers-select, .group-select, .course-select, .discipline-select,
.group-lect-select, .speciality-select, .subdivision-select, 
.faculty-select, .specialization-select, .okr-select {
  margin-bottom: 5px;
}

.attest-menu {
  margin: 0 0 5px 0;
}

.attest-alert {
  margin: 5px 0 5px 0;
}

.title-type-attest {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
}

.nav-pills-attest > li.active > a, .nav-pills-attest > li.active > a:hover, .nav-pills-attest > li.active > a:focus {
  color: #fff;
  background-color: #208944;
}

.attest-navigation > li:nth-child(1) > a {
  margin: 0 5px 0 0;
}

.attest-navigation > li:nth-child(2) > a {
  margin: 0 5px 0 5px;
}

.attest-navigation > li:nth-child(3) > a {
  margin: 0 0 0 5px;
}

.attest-navigation > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  border: 1px solid #208944;
}

.nav-pills-attest > li + li {
  margin-left: 0;
}

.table-hover > tbody > tr:hover {
  background-color: #e8f3ec;
}

#table-attest-lecturer {
  margin: 22px 0 27px 0;
}

#table-attest-for-student, #table-attest-group {
  margin: 5px 0 27px 0;
}

.btn-result {
  margin: 22px 0 22px 0;
}

.lecturer-subdivision-name {
  font-size: 12px;
  font-style: italic
}

.student-study-group-name {
  font-size: 12px;
  font-style: italic
}

/* end attestation styles*/

/* np styles */

.btn-filters {
  margin: 15px 0;
}

.btn-np {
  margin: 0 0 15px 0;
}

/* end np styles*/
.study-profile,
.item {
  padding-left: 30px;
  padding-right: 30px;
}

.panel-item {
  padding-right: 20px;
  font-size: 18px;
  font-weight: lighter;
}

.panel-default > .panel-heading {
  color: #208843;
  font-size: 20px;
  font-weight: lighter;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #208843;
  border-color: #208843;
}

.panel-primary {
  border-color: #208843;
}

.nav-pills li a {
  background-color: #208843;
  color: #f5f5f5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  border-radius: 0;
  padding: 5px;
}

.nav-pills li a img {
  width: 18px;
  vertical-align: middle;
}

.nav-pills li a span {
  font-size: 16px;
  vertical-align: middle;
}

.panel-group {
  margin: 10px 0;
}

.panel,
.panel-heading {
  border-radius: 0 !important;
  font-size: 14px;
}

.panel-heading h4 a {
  text-decoration: none;
}

.article-title:hover {
  color: #f5f5f5;
}

.article-user {
  padding-left: 8px;
}

.article-date {
  padding-left: 2px;
}

.modal-body {
  background-color: #FFF;
}

.navigation {
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 5px;
  min-height: 30px;
  border-radius: 0;
  color: #208944;
  letter-spacing: 1px;
  text-transform: uppercase;
  vertical-align: middle;
}

.navigation li a {
  font-size: 8pt !important;
}

.navigation > .container li a {
  font-size: 8pt;
}

.campus-navigation .nav > li > a:hover,
.campus-navigation .nav > li > a:focus {
  background-color: #FFF;
}

.breadcrumb {
  background-color: #FFF;
  font-size: 8pt;
  margin-bottom: 0;
  border-bottom: 2px solid #208944;
  border-radius: 0;
  margin-top: 0;
  padding: 0 15px 5px;
}

.nav li a.group-title {
  color: #AAA;
  cursor: default;
  padding-left: 15px;
}

.nav li a.group-title:hover {
  background-color: transparent;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a.group-title {
    color: #AAA;
    cursor: default;
    padding-left: 15px;
  }
}

.color-head {
  color: #208944;
}

.alignLeft {
  text-align: left !important;
}

.tdFullAlignCenter {
  text-align: center;
  vertical-align: middle !important;
  font-weight: normal;
}

.sortorder:after {
  content: '\25bc';
}

.sortorder.reverse:after {
  content: '\25b2';
}

.unresizeable {
  resize: vertical;
}

.text-align-left {
  text-align: left;
}

#newCred::-webkit-inner-spin-button, #newCred::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.node_block {
  color: #208944;
  cursor: default;
}

.node_child {
  padding-left: 20px !important;
  cursor: default;
}

.fontNormal {
  font-weight: normal !important;
}

.chosenWidth {
  width: 600px !important;
}

.imgHeight {
  height: 200px;
}

.thumb {
  height: 75px;
  border: 1px solid #000;
  margin: 10px 0 0 0;
}

.objImages {
  height: 60px;
  border: 1px solid #000;
}

.marginBottom {
  margin-bottom: 10px;
}

.marginTop {
  margin-top: 5px;
}

.marginLeftRight {
  margin: 0 10px 0 10px;
}

.minWidthTwoButtons {
  min-width: 85px;
}

.zindexHigh {
  z-index: 1060 !important;
}

.overflowHorizontal {
  overflow: hidden !important;
  white-space: pre-line !important;
}

/*temp solution!!!*/
.editable-checklist label {
  display: block;
  font-weight: normal !important;
}

.listOfTeachers {
  text-align: left !important;
  white-space: pre-line !important;
}

.paddingTop20 {
  padding-top: 20px;
}

.uiSelectMatchFullname > span > .ui-select-match-text > span {
  width: 94%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
}

.marginTop9px {
  margin-top: 9px;
}

.displayNone {
  display: none !important;
}

.displayInlineBlock {
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .selectMarginTop {
    margin-top: 10px !important;
  }
}

.wrapperMenuAndResult {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%;    
}

.sidebar-wrapper {
    margin-left: -380px;
    left: 70px;
    width: 360px;
    background: #e7e7e7;
    position: absolute; /* fixed*/   
    z-index: 10000;
    transition: all .4s ease 0s;    
    margin-top: 20px;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 360px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
.wrapperMenuAndResult.activeMenu {
    padding-left: 380px;
}
.wrapperMenuAndResult.activeMenu .sidebar-wrapper {
    left: 380px;
}

.page-content-wrapper {
  width: 100%;
}

.sidebar_menu li a, .sidebar-nav li a {
    color: #208944 !important;
    display: block;
    float: left;
    text-decoration: none;
    width: 360px;
    background: #e7e7e7;        
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: black;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {  
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.main_icon
{
  float:right;
  padding-right: 16px;
  padding-top:20px;
}
.sub_icon
{
  float:right;
  padding-right: 65px;
  padding-top:10px;
}

@media (max-width:767px) {
  .wrapperMenuAndResult {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  .sidebar-wrapper {
    left: 70px;
  }
  .wrapperMenuAndResult.activeMenu {
    padding-left: 150px;
  }
  .wrapperMenuAndResult.activeMenu .sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}

.filterDependsOnYearCls {
  left: 0 !important;
  position: relative !important;
  margin-top: 5px !important;
}

.pre_no_decoration {
  padding: 0px;
  border: none;
  background-color: #fff;
}

.notActive {
  /*opacity: 50% !important;*/
  color: lightgrey !important;
  border-color: lightgrey !important;
}

.input_margin {
  margin: 5px 0 5px 0 !important;
}

.input_margin option {
  -webkit-width: 100px !important;
  width: 100px !important;
}

.marginTop7px {
  margin-top: 7px;
}

.width100 {
  width: 100%;
}

.btn_filter_green {
  background-color: #208944 !important;
  border-color: #208944 !important;  
}

.margin_left_15 {
  margin-left: 15px;
}

.margin_top_15 {
 margin-top: 15px; 
}

.filter__padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

#filter {
  background-color: #e8f3ec;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.editable_select_subdiv > .editable-ui-select > .editable-controls > .ui-select-container {
  width: 400px!important;
}

.editable_select_subdiv > .editable-ui-select > .editable-controls > .ui-select-container > 
.ui-select-choices {
  height: 200px;
}