{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "auto"
}
