language: node_js
node_js:
  - "8"
dist: trusty
sudo: false

cache:
  directories:
    - node_modules

addons:
  chrome: stable

before_install:
  - npm install -g grunt-cli bower
sudo: required

script:
  - bower install 
  - grunt build
