<!--<nav class="breadcrumbs">-->
<!--<a class="glyphicon glyphicon-home" href="/#!/"></a> &gt; <ng-transclude></ng-transclude>-->
<!--<div class="clear"></div>-->
<!--</nav>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="breadcrumb">
        <!--<li><a class="glyphicon glyphicon-home" href="/#!/"></a></li>-->
        <a class="glyphicon glyphicon-home" href="/#!/"></a> >
        <ng-transclude></ng-transclude>
        <!--<li><a href="#">Home</a></li>-->
        <!--<li><a href="#">Library</a></li>-->
        <!--<li class="active">Data</li>-->
      </nav>
    </div>
  </div>
</div>
