<div class="choice-semester" ng-repeat="semester in studyCourse"
     ng-init="courseModalName = 'course-' + semester.course + 'modal-' + $index">
  <div class="panel panel-default disciplines-info">
    <div class="panel-heading semester-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5 labels-group">
            <div class="labels">Навчальний рік</div>
            <div class="labels">Семестр</div>
            <div class="labels">Статус</div>
          </div>
          <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7 loading-data">
            <div class="studyYear">{{semester.studyPeriod.start}}-{{semester.studyPeriod.end}}</div>
            <div class="semester">{{semester.semester || "інформацію не вказано"}}</div>
            <div class="status">{{translateStatus(semester.status) || "інформацію не вказано"}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body blocks-panel">
      <div class="blocks-unavailable" ng-show="semester.blocks.length === 0"
           ng-hide="semester.status !== 'available' || semester.blocks.length !== 0">
        Не вказано навчальні блоки для вибору дисциплін
      </div>
      <ul class="list-group blocks-list" ng-hide="semester.blocks.length === 0">
        <discipline-blocks-choice course="semester" year="studyCourse"></discipline-blocks-choice>
      </ul>
    </div>
    <div class="panel-footer save-result" ng-hide="semester.status !== 'available'">
      <button type="submit" class="btn btn-primary btn-save-choice-result"
              ng-disabled="semester.blocks.length > countSelectedDiscipline(semester)
              || isDisabledSaveButton(semester.semester, semester.blocks.length)
              || semester.blocks.length === 0"
              data-toggle="modal" data-target="#{{courseModalName}}">
        Зберегти результати
      </button>
    </div>
  </div>
  <!-- Modal -->
  <discipline-choice-modal modal-course="semester" modal-index="courseModalName"></discipline-choice-modal>
</div>
