<div class="choice-semester" ng-repeat="course in studyCourse"
     ng-init="courseModalName = 'course-' + course.course + 'modal-' + $index">
  <div class="panel panel-default disciplines-info">
    <div class="panel-heading semester-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5 labels-group">
            <div class="labels">Навчальний рік</div>
            <div class="labels">Семестр</div>
            <div class="labels">Статус</div>
          </div>
          <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7 loading-data">
            <div class="studyYear">{{course.studyPeriod.start}}-{{course.studyPeriod.end}}</div>
            <div class="semester">{{course.semester || "інформацію не вказано"}}</div>
            <div class="status">{{translateStatus(course.status) || "інформацію не вказано"}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body blocks-panel">
      <div class="blocks-unavailable" ng-show="course.blocks.length === 0"
           ng-hide="course.status !== 'available' || course.blocks.length !== 0">
        Не вказано навчальні блоки для вибору дисциплін
      </div>
      <ul class="list-group blocks-list" ng-hide="course.blocks.length === 0">
        <discipline-blocks-choice course="course" year="studyCourse"></discipline-blocks-choice>
      </ul>
    </div>
    <div class="panel-footer save-result" ng-hide="course.status !== 'available' ">
      <button type="submit" class="btn btn-primary btn-save-choice-result"
              ng-disabled="course.blocks.length > countSelectedDiscipline(course)
                                      || isDisabledSaveButton(course.semester, course.blocks.length)
                                      || course.blocks.length === 0"
              data-toggle="modal" data-target="#{{courseModalName}}">
        Зберегти результати
      </button>
    </div>
  </div>
  <!-- Modal -->
  <discipline-choice-modal modal-course="course" modal-index="courseModalName"></discipline-choice-modal>
</div>
