<header class="container-fluid">
    <div class="row center-block">
        <div class="col-md-6">
            <!--<a href="/#/">Електронний кампус</a>-->
            <a href="/#/">
                <img src="/images/logo-big-green.png" class="logo" />
            </a>
        </div>
        <div class="col-md-6 text-right">
            НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ<br /> «КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ імені Ігоря Сікорського»
        </div>
    </div>
    <div class="row" ng-show="!!user">
        <div id="navbar" class="navbar-collapse collapse campus-navigation">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Модулi <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Адміністрування</a>
                            <ul class="dropdown-menu">
                                <li><a href="/#/statistic">Статистика</a></li>
                                <li><a href="/#/">Дисципліни вибору</a></li>
                                <li><a href="/#/">Фонд дисципліни</a></li>
                                <li><a href="/#/">РНП</a></li>
                            </ul>
                        </li>

                        <li><a href="/#/bulletins-board">Оголошення</a></li>

                        <li>
                            <a href="/#/">Навчальний процесс</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Індивідуальний план</a></li>
                                <li><a href="/#/disciplines-choice">Вибір дисциплін</a></li>
                            </ul>
                        </li>

                        <li><a href="/#/voting">Оцінювання викладачів</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Iнформація <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/#/privacy">Правила використання інформації сайту</a></li>
                        <li><a href="/#/about">Про систему</a></li>
                        <li><a data-toggle="modal" data-target="#support-modal">Служба підтримки</a></li>
                        <li><a href="/#/contacts">Контактнi данi</a></li>
                    </ul>
                </li>

                <li><a ng-click="redirectToLegacyCampus()">До попередньої версії кампусу</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Вітаємо, {{userName}}! <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <img class="img-responsive img-circle user-img" src="{{userImage}}" />
                        </li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/#/settings">Налаштування</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">Вийти з системи</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>

</header>