<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="fileInfo" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target type="File" fileName="${basedir}/logs/info.log" layout="${longdate} ${message} "/>
    </target>

    <target name="fileWarn" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target type="File" fileName="${basedir}/logs/error.log" layout="${longdate} ${message} ${onexception:EXCEPTION OCCURRED\: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileInfo" />
    <logger name="*" minlevel="Warn" writeTo="fileWarn" />
  </rules>
</nlog>