<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.3" targetFramework="net45" />
  <package id="bootstrap.chosen" version="1.0.0" targetFramework="net45" />
  <package id="campus.sdk" version="0.1.9.78" targetFramework="net45" />
  <package id="chosen" version="0.12.0" targetFramework="net45" />
  <package id="chosen.jquery" version="0.12.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net45" />
  <package id="X.PagedList" version="1.20.2.37" targetFramework="net45" />
</packages>