<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui-1.10.4.custom.min.css">
    <link rel="stylesheet" type="text/css" href="assets/fonts/fontawesome/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="assets/js/script.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class="top-header">
                <div class="container">
                    <div class="menu-toggle pull-left">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="logo-kpi pull-right"></div>
                    <div class="text pull-right">
                        НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ
                        <br>
                        "КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ"
                    </div>
                </div>
            </div>
            <div class="header-nav container">
                <a href="">
                    <div class="header-logo pull-left">
                        <img src="assets/img/logo-small.png" alt="campus small logo"/>
                    </div>
                </a>
                <div class="navbar pull-right">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-briefcase"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="user-name">
                        <a>Вітаємо, Мелкумян Катерина Юріївна</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="carousel-progress">
                    
                </div>
                <div class="carousel">
                    <div class="carousel-prev btn">
                        <div class="prev-icon"></div>
                    </div>
                    <div class="carousel-next btn">
                        <div class="next-icon"></div>
                    </div>
                    <div class="carousel-wrap">
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-msg.jpg" alt="messages">
                                    <div class="slide-title">
                                        Повідомлення
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-schd.jpg" alt="schedule">
                                    <div class="slide-title">
                                        Розклад
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-cntct.jpg" alt="contacts">
                                    <div class="slide-title">
                                        Контакти
                                    </div>
                                </a>
                            </div>
                        </div>
                         <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-schd.jpg" alt="schedule">
                                    <div class="slide-title">
                                        Розклад1
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-cntct.jpg" alt="contacts">
                                    <div class="slide-title">
                                        Контакти1
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-msg.jpg" alt="messages">
                                    <div class="slide-title">
                                        Повідомлення1
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-cntct.jpg" alt="contacts">
                                    <div class="slide-title">
                                        Контакти2
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <a href="">
                                    <img src="assets/img/carousel-cntct.jpg" alt="contacts">
                                    <div class="slide-title">
                                        Контакти3
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-col">
                    <ul class="left-nav">
                        <li>
                            <a>
                                Мій профіль
                                <div class="chevron"></div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        Робота з публічною інформацією
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Робота з закритою інформацією
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropmenu">
                            <a>
                                Дошка оголошень
                                <div class="chevron"></div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        Перегляд доступних оголошень
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Редагування оголошень
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropmenu">
                            <a>
                                Спілкування
                                <div class="chevron"></div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        Редагування групи спілкування
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Пошук групи спілкування
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Повідомлення в групі
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropmenu">
                            <a>
                                Електронні інформаційні ресурси
                                <div class="chevron"></div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        Пошук ЕІР
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Перегляд ЕІР
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Додавання ЕІР
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropmenu">
                            <a>
                                Робота
                                <div class="chevron"></div>
                            </a>
                            <ul class="submenu">
                                <li>
                                    <a href="">
                                        Навчальна
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Методична
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Наукова
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Інноваційна
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Організаційна
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Виховна
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                Навчальний процес
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right-col">
                    <div class="datepicker-toggle">
                        <i class="fa fa-calendar"></i>
                        <div class="datepicker-label"></div>
                    </div>
                    <div class="datepicker"></div>
                    <ul class="datepicker-messages hide">
                        <div class="selected-date">
                            У цей день:
                        </div>
                        <li class="event">
                            <div class="event-time">
                                16:00
                            </div>
                            <div class="event-text">
                                Консультація ІП-01
                            </div>
                        </li>
                        <li class="event">
                            <div class="event-time">
                                16:00
                            </div>
                            <div class="event-text">
                                Консультація ІП-01
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="md-col" style="height: 2000px">
                    content
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <div class="box">
                <i class="fa fa-arrow-up"></i>
            </div>
            наверх
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="text-left pull-left">
                Національний технічний університет України <br>
                “Київський політехнічний інститут”   www.kpi.ua <br>
                Електронний кампус
            </div>
            <div class="text-right pull-right">
                Розробник:  Конструкторське бюро <br>
                інформаційних систем <br>
                www.kbis.kpi.ua
            </div>
        </div>
    </div>
</body>
</html>