<!DOCTYPE html>
<html>
<head>
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Електронний кампус НТУУ КПІ</title>
    }
    else
    {
        <title>Електронний кампус НТУУ КПІ</title>
    }

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name='yandex-verification' content='4ce42a0173a1c976' />

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=cyrillic,latin" />

    <link rel="stylesheet" href="/Content/site.css" />
    <link rel="stylesheet" href="/Content/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-chosen.css" />
    <link rel="stylesheet" href="/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-clockpicker.min.css" />
    <link rel="stylesheet" href="/Content/picker.css" />
    <link rel="stylesheet" href="/Content/picker.date.css" />
    <link rel="stylesheet" href="/Content/jquery.ambiance.css" />
    <link rel="stylesheet" href="/Content/custom.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />

    <link rel="apple-touch-icon" href="/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-iphone-retina-display.png" />

    <script src="/Scripts/jquery-2.1.3.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/chosen.jquery.min.js"></script>
    <script src="/Scripts/core.js"></script>
    <script src="/Scripts/script.js"></script>
</head>
<body>

    <header class="container-fluid hidden-xs">
        <div class="row center-block">
            <div class="site-tile-text col-md-12">
                НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ "КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ"
            </div>
        </div>
        <div class="header-nav">
            <div class="green">

            </div>
        </div>
    </header>

    <div class="public-wrap container-fluid">
        @RenderBody()
    </div>

    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Національний технічний університет України<br />
                “Київський політехнічний інститут”<br />
                <a href="http://kpi.ua/" class="orange">www.kpi.ua</a> Електронний кампус
            </div>
            <div class="col-md-6 text-right">
                Розробник: Конструкторське бюро<br />
                інформаційних систем<br />
                <a href="http://kbis.kpi.ua/" class="orange">www.kbis.kpi.ua</a>
            </div>
        </div>
    </footer>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter20363149 = new Ya.Metrika({ id: 20363149, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true, ut: "noindex" });
                } catch (e) {
                }
            });
            var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/20363149?ut=noindex" style="position: absolute; left: -9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>