<!DOCTYPE html>
<html>
<head>
    @if (ViewBag.Title != null)
    {
        <title>@ViewBag.Title - Електронний кампус НТУУ КПІ</title>
    }
    else
    {
        <title>Електронний кампус НТУУ КПІ</title>
    }
    
    @*<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=cyrillic,latin" />
    <link rel="stylesheet" href="/Content/site.css" />
    <link rel="stylesheet" href="/Content/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-chosen.css" />
    <link rel="stylesheet" href="/Content/font-awesome.min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    
    <link rel="apple-touch-icon" href="/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-iphone-retina-display.png" />

    <script src="/Scripts/jquery-2.1.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/chosen.jquery.min.js"></script>
    <script src="/Scripts/core.js"></script>
    <script src="/Scripts/script.js"></script>
</head>
<body>
    <div class="wrap login-wrap container-fluid">
        <header>
            <div class="logo-kpi pull-right">
            </div>
            <div class="text pull-right">
                НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ "КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ"
            </div>
        </header>

        @RenderBody()

        <footer>
            <div class="col-md-4 text-left">
                Національний технічний університет України<br />
                “Київський політехнічний інститут” <a href="http://kpi.ua">www.kpi.ua</a><br />
                Електронний кампус
            </div>

            <div class="col-md-4"></div>

            <div class="col-md-4 text-right">
                Розробник:  Конструкторське бюро<br />
                інформаційних систем<br />
                <a href="http://kbis.kpi.ua">www.kbis.kpi.ua</a>
            </div>
        </footer>
    </div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter20363149 = new Ya.Metrika({ id: 20363149, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, trackHash: true, ut: "noindex" }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/20363149?ut=noindex" style="position: absolute; left: -9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->

</body>
</html>