<!doctype html>
<html>

<head>
  <base href="/">

  <title>Електронний кампус – КПІ ім. Ігоря Сікорського</title>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <meta name='yandex-verification' content='4ce42a0173a1c976'/>

  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,700&subset=latin,cyrillic,cyrillic-ext"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"/>


  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-input-stars-directive/angular-input-stars.css" />
  <link rel="stylesheet" href="bower_components/chosen/chosen.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/stat.main.css">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico"/>

  <link rel="apple-touch-icon" href="/apple-touch-icon-iphone.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-ipad.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-iphone-retina-display.png"/>

</head>

<body ng-app="ecampusApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->

<header class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <a href="/#!/">
        <img src="/images/logo-big-green.png" class="logo"/>
      </a>
    </div>
    <div class="col-md-6 text-right">
      НАЦІОНАЛЬНИЙ ТЕХНІЧНИЙ УНІВЕРСИТЕТ УКРАЇНИ<br/> «КИЇВСЬКИЙ ПОЛІТЕХНІЧНИЙ ІНСТИТУТ імені Ігоря Сікорського»
    </div>
  </div>
</header>

<navigation ng-hide="isSessionExpired === true;"></navigation>

<div class="loader" ng-if="requestCount > 0">
  Завантаження даних...<br/>
  <img src="/images/ajax-loader.png"/>
</div>

<div class="old-session text-center ng-cloak" ng-if="isSessionExpired === true;">
  <h1>Час сесії закінчився!</h1>
  <h3>Виконайте будь ласка вхід знову.</h3>
</div>

<div class="white" ng-hide="isSessionExpired === true;" ng-view></div>

<footer class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      Усі права застережено. &copy; 2017 <a href="http://kpi.ua/">КПІ ім. Ігоря Сікорського </a> <br/>
      Розробник: <a href="http://kbis.kpi.ua/">Конструкторське бюро інформаційних систем</a>
    </div>
    <div class="col-md-8 text-right">
      <a href="/#!/privacy">Правила використання інформації сайту</a> /
      <a href="/#!/about">Про систему</a> /
      <a href="/#!/contacts">Контактнi данi</a>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="support-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Служба підтримки</h4>
      </div>
      <div class="modal-body">
        <p>
          Якщо у вас є питання, ви можете надіслати його на email служби підтримки: <a href="mailto:ecampus@kpi.ua">ecampus@kpi.ua</a>
        </p>
        <p>
          Для термінового зв'язку ви можете подзвонити за номером:<br/><a href="tel:+380442048004">+380 (44) 204 80
          04</a>.
        </p>
        <p>
          Також ви можете завітати до констуркторського бюро, за адресою: <a href="http://maps.yandex.ua/-/CVremSol">Україна,
          м. Київ, вул. Політехнічна 14-в, корпус 13, 4 поверх, 25 кабінет</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-input-stars-directive/angular-input-stars.js"></script>
<script src="bower_components/kjur-jsrsasign/jsrsasign-latest-all-min.js"></script>
<script src="bower_components/jwt-decode/build/jwt-decode.js"></script>
<script src="bower_components/page-scroll-to-id/jquery.malihu.PageScroll2id.js"></script>
<script src="bower_components/chosen/chosen.jquery.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/angular-ui-select/dist/select.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/utils/helper.function.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/services/api.js"></script>
<script src="scripts/services/permission.js"></script>
<script src="scripts/services/uniqueElemsInList.js"></script>
<script src="scripts/services/sharedFiltersData.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/information.js"></script>
<script src="scripts/controllers/voting.js"></script>
<script src="scripts/controllers/debugger.js"></script>
<script src="scripts/controllers/security.js"></script>
<script src="scripts/controllers/votingProfile.js"></script>
<script src="scripts/controllers/admin.js"></script>
<script src="scripts/controllers/statisticNpp.js"></script>
<script src="scripts/controllers/statisticZkm.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/bulletinsBoard.js"></script>
<script src="scripts/controllers/disciplineChoiceStudent.js"></script>
<script src="scripts/controllers/disciplineChoiceTeacher.js"></script>
<script src="scripts/controllers/disciplineBlock.js"></script>
<script src="scripts/controllers/disciplineProposition.js"></script>
<script src="scripts/controllers/disciplineSpecialization.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/directives/chosen.js"></script>
<script src="scripts/directives/navigation.js"></script>
<script src="scripts/directives/breadcrumbs.js"></script>
<script src="scripts/directives/tableChoiceResult.js"></script>
<script src="scripts/directives/patternImplementation.js"></script>
<script src="scripts/directives/studyGroup.js"></script>
<script src="scripts/directives/checklistModelDirective.js"></script>
<script src="scripts/directives/rnpInput.js"></script>
<script src="scripts/directives/groupDisplay.js"></script>
<script src="scripts/directives/rnpRowsDisplay.js"></script>
<script src="scripts/directives/statisticInput.js"></script>
<script src="scripts/directives/customPanel.js"></script>
<script src="scripts/directives/tableFromArray.js"></script>
<script src="scripts/directives/statisticSubjectProviderSection.js"></script>
<script src="scripts/directives/disciplineChoice.js"></script>
<script src="scripts/filters/orderObjectBy.js"></script>
<script src="scripts/filters/unique.js"></script>
<script src="scripts/filters/groupBy.js"></script>
<script src="scripts/filters/yearOutput.js"></script>
<script src="scripts/controllers/individualPlan.js"></script>
<script src="scripts/controllers/disciplineFund.js"></script>
<script src="scripts/controllers/rnp.js"></script>
<script src="scripts/controllers/RnpCreate.js"></script>
<script src="scripts/controllers/attestation.js"></script>
<script src="scripts/directives/disciplineBlocksChoice.js"></script>
<script src="scripts/directives/disciplineChoiceModal.js"></script>
<script src="scripts/directives/disciplineChoiceSemester.js"></script>
<script src="scripts/controllers/npSpecializations.js"></script>
<script src="scripts/controllers/creditModules.js"></script>
<script src="scripts/controllers/catalogueDisciplines.js"></script>
<script src="scripts/controllers/catalogueDisciplinesSpecialities.js"></script>
<!-- endbuild -->

<!--Referenced from 'CDN' because problems with minifying -->
<script src="https://cdn.rawgit.com/jmaister/excellentexport/master/excellentexport.js" type="module"></script>


</body>

</html>
