body {
    font-family:Georgia;
}

.emblem{
    height: 150px;
    width: 150px;

    margin: 15px 15px 15px 15px;

    float:left;
}

.header{
    border: 1px dotted #0094ff;
    width:100%;
    height: 180px;
    background:#527adb;

    border-radius:10px;

    min-width:1024px;
}

.caption {

    float:left;
    min-width:1024px;
}

h1{

}

.login{
    padding:30px 30px 30px 30px; 
    border: 2px dotted #0094ff;
    border-radius:10px;
    width:40%;
    height:250px;
    min-width:350px;
    margin: 75px; 
}

.login table{
    margin: 10px;
    padding:25px;
}

table {
    margin:5px;
    padding:5px;
}

.loginBtn{
    border: 1px solid #527adb;
    width:200px;
    height:25px;
}

.blockMenu {
    
    width: 200px;
    float:left;
    margin: 35px 35px 35px 6px;
}
.main {
    /**/
}

article {
    width: 100%;
  
   
}

article > div {
    display: inline;
}

.content {

      margin: 0 25%;
    display: block;

    float: left;

    position: absolute;
    padding: 10px;

    margin-top: 35px;

    width: 50%;
    min-width: 400px;

    border: 2px solid #527adb;
    border-radius: 10px;
}

.contentsvo {

      margin: 0 auto;
    display: block;

    float: left;

    position: absolute;
    padding: 10px;

    margin-top: 35px;

    width: 100%;
    min-width: 400px;

    border: 2px solid #527adb;
    border-radius: 10px;
}





TreeViev {
    padding: 0 0 0 0;
}


#back-top {
position: fixed;
 /* отступ от низа экрана до кнопки */

   top: 5px;
   right: 5px;
   /*width: 50px;*/
   /*height: 50px;*/
margin-left: -150px; /* отступ слева экрана до кнопки, если хотите чтобы кнопка была по правый угол экрана поставте параметр margin-left: -1000px; дальше немного подкорректируете сами */
}
#back-top a {
width: 108px; /* размер квадрата изначальный, без округленных углов*/
display: block;
text-align: center;
font: 11px/100% Arial, Helvetica, sans-serif;
text-transform: uppercase;
text-decoration: none;
color: #bbb;
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
}
#back-top a:hover {
color: #000;
}
/* иконка стрелки (тег span) */
#back-top span {
width: 108px;
height: 108px;
display: block;
margin-bottom: 7px;
background: #ddd url(top.png) no-repeat center center;
/*путь к стелочке, можете найти в интернете любую и вставить сюда*/
-webkit-transition: 1s;
-moz-transition: 1s;
transition: 1s;
/* округленные углы, радиус, если хотите круг то укажите 60px все три параметра */
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}
#back-top a:hover span {
background-color: #777;
}




.clearfix:before,
.clearfix:after{
content: " ";
display: table;
}
.clearfix:after{
clear: both;
}

