ul#Tabs {
    font-family: Verdana, Arial;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 28px;
    border-bottom: 1px solid #a2b6cb;
    margin-bottom: 12px;
}
 
#Tabs li.Tab {
    float: left;
    height: 25px;
    background-color: #deedfb;
    margin: 2px 0px 0px 5px;
    border: 1px solid #a2b6cb;
}
 
#Tabs li.Tab a {
    float: left;
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
}
 
#Tabs li.Tab a:hover {
    background-color: #bfe0fe;
    border-bottom: 1px solid #bfe0fe;
}
 
/* Состояние: активная */
#Tabs li.SelectedTab {
    float: left;
    height: 25px;
    background-color: #fafafa;
    margin: 2px 0px 0px 5px;
    border-top: 1px solid #a2b6cb;
    border-right: 1px solid #a2b6cb;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #a2b6cb;
}
 
#Tabs li.SelectedTab A {
    float: left;
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
    cursor: default;
}