/*---------CSS Reset---------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;list-style-type:none;}
input,textarea {outline:none;}
/*---------End of CSS Reset---------*/

html {height: 100%;}
body {font: 12px/18px Corbel, sans-serif;color:#999 !important;height: 100%;border-top:7px solid #488eb7;padding: 20px 35px;/*border-bottom:8px solid #488eb7;*/}
#wrapper {width: 100%;min-width: 1150px;min-height: 100%;height: auto !important;height: 100% ;}
.clear {clear:both;}

/*---------Header---------*/
#header {height: 54px;position:relative;background: url(/Images/header_line.png) 0 100% repeat-x;}
#header p{font-size:10.42px !important;}
#header p span{font-size:22.83px !important;text-transform:uppercase !important;}
#header #logo{float:left;width:167px;margin-right:50px;}
#header #user_block {position:absolute;text-align:right;top:0px; right:0px;}
#header #user_block a{color:#cc9900 !important; text-decoration:none;}
#header #user_block a:hover{text-decoration:underline;}
#header #user_block p{font-size:12px;margin-top:10px;}
#header #user_block img {margin-left:8px;}
/*---------Header---------*/

/*---------Middle---------*/
#middle {width: 100%;padding: 0 0 100px;	position: relative;}
#middle:after {display: table;clear: both;content: '';}
#container {	width: 100%;float: left;overflow: hidden;}
#content {padding: 0 233px 0 237px;}
#content h2{margin-top:10px;font-size:18px;color:#cc9900;}
#content #profile  {padding:24px 0 0 16px;text-transform:uppercase;color:#888888;}
#content #profile  li li span{width:128px;display:inline-block;text-align:right;margin-right:12px;vertical-align:top;font-size:12px;padding:0;line-height:22px;}
#content #profile  li{line-height:30px;}
#content #profile  span{font-size:14px;padding-top:10px;}
#content #profile  li li {font-size:12px;text-transform:none;line-height:22px;}
#content #profile  p{display:inline-block;}
/*---------Middle---------*/

/*---------breadcrumbs---------*/
#breadcrumbs {margin-top:10px;}
#breadcrumbs #current{color:#999;}
#breadcrumbs a{color:#b8b8b8;text-decoration:none;}
#breadcrumbs a:hover{text-decoration:underline;}
.breadcrumbs_marker {background:#eddba6; height:7px; width:7px;border-radius:4px;display:inline-block;margin:0 4px 0 3px;}
/*---------breadcrumbs---------*/

/*---------Left Sidebar---------*/
#left-sidebar {float: left;width: 167px;	margin-left: -100%;position: relative;}
#left-sidebar ul{background:url(/Images/razdelitel.png) 0 0 repeat-x;margin-top:42px;}
#left-sidebar li{font-variant:small-caps;font-size:14px;line-height:36px;background:url(/Images/razdelitel.png) 0 100% repeat-x;position: relative;padding-left:27px;}
#left-sidebar li img{margin-right:12px;top:-5px;left:0;display:inline-block;position:absolute;clip: rect(17px,auto, auto, auto);}
#left-sidebar li:hover img{clip: rect(auto, auto,17px, auto);top:12px;}
#left-sidebar li a{color:#999;text-decoration:none;display:block;}
#left-sidebar li a:hover{color:#488eb7;}
/*---------Left Sidebar---------*/

/*---------Right Sidebar---------*/
#right-sidebar {float: left;width: 163px;margin-left: -163px;position: relative;}
#right-sidebar img{margin-top:42px;}
#right-sidebar ul{background:url(/Images/razdelitel.png) 0 0 repeat-x;margin-top:42px;}
#right-sidebar li{font-variant:small-caps;font-size:14px;line-height:36px;background:url(/Images/razdelitel.png) 0 100% repeat-x;position: relative;padding-left:27px;}
#right-sidebar li img{margin-right:12px;left:0;display:inline-block;position:absolute;clip: rect(auto, auto,17px, auto);top:12px;margin-top:0;}
#right-sidebar li:hover img{clip: rect(17px,auto, auto, auto);top:-5px;}
#right-sidebar li a{color:#999;text-decoration:none;display:block;}
#right-sidebar li a:hover{color:#488eb7;}
/*---------Right Sidebar---------*/

/*---------Footer---------*/
#footer {margin: -65px auto 0;min-width: 1150px;height: 65px;position: relative;font:12.5px/16.67px Myriad Pro,Arial,Sans-serif;background: url(/Images/header_line.png) 0 0 repeat-x;padding-top:17px;}
#footer dt{width:21px; float:left;}
#footer dd{display:inline-block;}
#footer a{color:#488eb7;text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#footer p{text-align:right;position:absolute;top:17px;right:0;}
/*---------Footer---------*/