@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="dummy col-md-4">
        <div class="login-logo"></div>
        <h2>Система знаходиться у стадії розробки</h2>
        Зараз ви можете перейти на інші ресурси: <a href="https://www.facebook.com/pages/Electronic-Campus-of-NTUU-KPI/626578197378085">сторінку кампусу у Facebook</a>, <a href="http://kbis.kpi.ua/">сайт конструкторського бюро «Інформаційних систем»</a>, <a href="https://github.com/DOIS">портал розробників електроного кампусу</a>.
    </div>
    <div class="col-md-4"></div>
</div>

