@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-2"></div>

<div class="row">
    <div class="col-md-3">
        http://kpi.ua/ecampus
    </div>
    <div class="col-md-3">
        GitHub
    </div>
    <div class="col-md-3">
        Портал разработчиков
    </div>
    
</div>

<form class="login-container col-md-8">
    <div class="dummy">
        <h2>Система знаходиться у стадії розробки</h2>
    </div>
</form>
<div class="col-md-2"></div>