@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-2"></div>

<form class="login-container col-md-8">
    <div class="dummy">
        <h2>Система знаходиться у стадії розробки</h2>
        Зараз ви можете перейти на інші ресурси: <a href="https://www.facebook.com/pages/Electronic-Campus-of-NTUU-KPI/626578197378085">сторінку кампусу у Facebook</a>, <a href="http://kbis.kpi.ua/">сайт конструкторського бюро «Інформаційних систем»</a>, <a href="http://dev.ecampus.kpi.ua/">портал розробників електроного кампусу</a>.
    </div>
</form>
<div class="col-md-2"></div>