body {
}

#body_LinkContainer
{
    margin-top:10px;
}

.messageLink
{
    text-decoration:none;
    display:block;
    border:solid 1px #999;
    border-radius: 5px;
    margin-bottom:5px;

}

.messageLink:hover
{
    background-color:#e4e8ed;
}

#mainBlock
{
    margin:10px;
    display:-webkit-inline-box;
    display:-moz-inline-box;
}
/*#messageLink
{
    display:block;
    border:solid 1px #999;
}*/


#infoBlock
{
    margin-left:50px;

}


#right_column_NewMessage
{
    margin-top:42px;
}

.imgBlock
{
    max-width:80px;
    max-height:100px;
    word-wrap:break-word;
}

.imgBlock img
{
    width:38px;
    height:40px;
    max-width:40px;
    max-height:50px;
    margin-right:2px;
    margin-bottom:2px;
}