.main-block {
    margin-top: 30px;
    margin-left: 30px;
    width: 100%;
}

table {
    width:50%;
}


#name, #lang, #title, #annotation, #surname, #person_type {
    display: block;
}

input, select {
    margin: 3px;
}

#notkpi, #private {
    margin-left: 20px;
}

#name, #surname, #person_type {
    width: 100%;
}

#contrib_type, #type {
    width: 75%;
}

#contrib_percent {
    width: 15%;
}

#add_person, #clear_person {
    float: right;
}

hr, #lang, #title, #annotation, #keywords {
    width: 100%;
}

a {
    cursor: pointer;
}