html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,html{
    height: 100%;
    color: #111;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 1em;
    background: #fff;
}

.row:after{
    display: block;
    content: "";
    clear: both;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

a, .btn{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover, .btn:hover{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn:focus, .btn:active:focus{
    outline: none !important;
}

/* =======LOGIN PAGE====== */

.login-wrap{
    background-color: #208843;
}

.login-box{
    position: relative;
    width: 300px;
    margin: 60px auto 0 auto;
    color: #fff;
}

.login-box a{
    color: #afdfca;
    text-decoration: underline;
}

.login-box a:hover{
    color: #fff;
}

.login-logo{
    width: 200px;
    height: 123px;
    margin: 0 auto 20px auto;
    background: url("../Images/logo-big.png") center no-repeat;
}

.login-box .form-group>label{
    display: none;
}

.login-box .form-group>label{
    display: inline-block \0/;
}

.login-box .form-group:last-child{
    margin-top: 10px;
}

.login-form .btn-success{
    border-color: #51b875;
    background-color: #6fc48a;
}

.login-form .btn-success:hover{
    border-color: #51b875;
    background-color: #51b875;
}

.login-form input[type="checkbox"]{
    display: none;
}

.login-form .checkbox+label{
    font-weight: normal;
    padding-bottom: 0;
    cursor: pointer;
}

.login-form .checkbox{
    display: inline-block;
    width: 16px;
    height: 16px;
    min-height: 16px;
    margin: 0  4px 0 0;
    padding: 0;
    vertical-align: top;
    background-image: url("../Images/checkbox_sprite.png");
    background-position: 16px;
    cursor: pointer;
}

.remeber-me input[type="checkbox"]:checked+.checkbox{
    background-position: 0;
}

/*=== main pages ===*/

.container{
    width: 1180px;
    margin: auto;
}

.container:after{
    display: block;
    content: "";
    clear: both;
}

.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -90px;
    padding-bottom: 90px;
}

.header{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
}

.header:after{
    display: block;
    content: "";
    clear: both;
}

.top-header{
    height: 60px;
}

.top-header:after{
    display: block;
    content: "";
    clear: both;
}

.menu-toggle{
    display: none;
    height: 40px;
    width: 40px;
    color: #208843;
    margin: 10px 0 0 10px;
    border: 1px solid #208843;
    border-radius: 4px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.menu-toggle:hover{
    color: #ffffff;
    background: #208843;
}

.menu-toggle i{
    line-height: 40px;
    font-size: 1.1em;
}

.header .logo-kpi{
    width: 64px;
    height: 48px;
    padding: 0 15px;
    margin-top: 6px;
    background: url("../Images/logo-kpi.png") center no-repeat;
}

.header .header-nav{
    width: 1200px\9;
    padding: 16px 0 8px 0;
    background: #208843;
}

.header .header-nav:after{
    display: block;
    content: "";
    clear: both;
}

.header .text{
    padding: 10px 0;
    color: #006633;
    text-align: right;
}

.header-logo{
    height: 60px;
    margin: 0 0 0 50px;
}

.header-logo img{
    position: relative;
    margin: auto;
    height: 100%;
}

.header-nav .navbar{
    display: block;
    color: #33cc99;
    margin: 0 18px 0 0;
    /*border-color: #33cc99;*/
    border: none;
}

.navbar ul{
    margin: 0;
    text-align: right;
}

.navbar ul>li{
    display: inline-block;
    vertical-align: middle;
}

.navbar ul>li>a{
    display: block;
    height: 40px;
    width: 40px;
    margin-left: 14px;
    color: inherit;
    border: 1px solid #33cc99;
    border-radius: 4px;
    text-align: center;
}

.navbar ul>li>a>i{
    font-size: 2em;
    line-height: 40px;
    vertical-align: top;
}

.navbar ul>li>a:hover{
    color: #fff;
    border-color: #fff;
}

.navbar .user-name{
    margin-top: 8px;
}

.navbar .user-name a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navbar .user-name a:hover{
    color: #fff;
}

.carousel{
    position: relative;
    height: 193px;
    max-height: 213px;
    margin-bottom: 10px;
    overflow: hidden;
}

.carousel:after{
    display: block;
    content: "";
    clear: both;
}

.carousel-progress{
    position: relative;
    height: 8px;
    margin: 2px 0 12px 0;
    text-align: right;
}

.carousel-progress .circle{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    background: #cfbfa2;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.carousel-progress .circle.active{
    background:  #9c6604;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.carousel-progress .circle:hover{
    opacity: 0.5;
}

.carousel-progress .circle:last-child{
    margin-right: 0;
}

.carousel .carousel-prev,
.carousel .carousel-next{
    position: absolute;
    width: 14px;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    z-index: 999;
}

.carousel .carousel-prev .prev-icon{
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 11px 12px 11px 0;
    border-color: transparent #edc204 transparent transparent;
}


.carousel .carousel-next .next-icon{
    position: absolute;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 11px 0 11px 12px;
    border-color: transparent transparent transparent #edc204;
}


.carousel .carousel-prev.btn,
.carousel .carousel-next.btn{
    border-radius: 0;
    padding: 0;
    z-index: 999;
}

.carousel .carousel-prev{
    left: 0;
}

.carousel .carousel-next{
    right: 0;
}

.carousel-wrap{
    position: relative;
    left: 0;
    height: 193px;
    max-height: 193px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
}

.carousel-wrap:after{
    display: block;
    content: "";
    clear: both;
}

.carousel .slide{
    position: relative;
    float: left;
    width: 218px;
    height: 193px;
}

.carousel .slide:last-child{
    margin-right: 0 !important;
}

.slide-content{
    height: 100%;
}

.slide-content a{
    position: relative;
    display: block;
    height: 100%;
}

.slide-content img{
    width: 100%;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

.slide-content:hover img{
    opacity: 0.8;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

.slide-content:hover .slide-title{
    background: #cb9a34;
   /* -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

.slide-content .slide-title{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background: #9c6604;
    z-index: 2;
    text-transform: uppercase;
}

.content{
    overflow: hidden;
}

.content .left-col{
    display: block;
    float: left;
    width: 200px;
}

.content .md-col{
    min-height: 35px;
    padding: 0 10px;
    margin: 0 0 0 200px;
}

.content .right-col{
    position: absolute;
    right: 0px;
    top: 410px;   
    width: 0;
    color: #fff;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
    background: #208843;
    z-index: 999;
}

.right-col .datepicker{
    display: none;
    border-bottom: 1px solid #fff;
}

.right-col.show{
    right: 0 !important;
    width: 220px;
  /*  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

.right-col.show .datepicker{
    display: block !important;
}

.right-col.show .datepicker-toggle{
    right: 0 !important;
    border-right: none !important;
    box-shadow: none;
}

.left-nav{
    margin: 0;
    padding: 0;
}

.left-nav a{
    display: block;
    position: relative;
    padding: 8px 18px 8px 12px;
    color: #9a6505;
    text-decoration: none;
}

.left-nav a:hover{
    color: #694709;
    text-decoration: none;
}

.left-nav>li>a{
    position: relative;
    border-bottom: 1px solid #fff;
    background: #ecc103; /* Old browsers */
    background: -moz-linear-gradient(left,  #ecc103 0%, #cd9f04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecc103), color-stop(100%,#cd9f04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ecc103 0%,#cd9f04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ecc103 0%,#cd9f04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ecc103 0%,#cd9f04 100%); /* IE10+ */
    background: linear-gradient(to right,  #ecc103 0%,#cd9f04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc103', endColorstr='#cd9f04',GradientType=1 ); /* IE6-9 */
    cursor: pointer;
    z-index: 2;
}

.left-nav>li>a>.chevron{
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    height: 100%;
    right: 8px;
    top: 0;
    padding: 10px 0;
    font-size: 0.8em;
    color: #714e0c;
}

.left-nav>li>a>.chevron.down:after{
    display: inline-block;
    content: "\f077";
    text-shadow: none;
}

.left-nav>li>a>.chevron:after{
    display: inline-block;
    content: "\f078";
    text-shadow: none;
}

.left-nav>li>a:hover{
    background: #ecc103; /* Old browsers */
    background: -moz-linear-gradient(left,  #ecc103 0%, #ecc103 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecc103), color-stop(100%,#ecc103)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* IE10+ */
    background: linear-gradient(to right,  #ecc103 0%,#ecc103 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc103', endColorstr='#ecc103',GradientType=1 ); /* IE6-9 */
    box-shadow: inset -9px 0 0 -4px #1f8843;
}

.left-nav>li>a.active{
    background: #ecc103; /* Old browsers */
    background: -moz-linear-gradient(left,  #ecc103 0%, #ecc103 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecc103), color-stop(100%,#ecc103)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ecc103 0%,#ecc103 100%); /* IE10+ */
    background: linear-gradient(to right,  #ecc103 0%,#ecc103 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecc103', endColorstr='#ecc103',GradientType=1 ); /* IE6-9 */
    box-shadow: inset -9px 0 0 -4px #1f8843, 0 1px 2px rgba(44, 120, 74, 0.69);
    border-bottom: 1px solid #e8e4d8;
}

.left-nav>li>.submenu{
    display: none;
    border-bottom: 1px solid #fff;
    background: #fff;
    overflow: hidden;
}

.left-nav>li>.submenu.show{
    display: block;
    height: auto;
    border-bottom: 1px solid #fff;
}

.left-nav>li>ul>li>a{
    color: #5e523c;
    padding-left: 20px;
    background: #fffbd8;
}

.left-nav>li>ul>li>a:hover{
    color: #cc9f04;
    background: #fff;
    box-shadow: inset -9px 0 0 -4px #edc204;
}

.left-nav>li>ul>li>a.active{
    background: #6bb58f;
    box-shadow: inset -9px 0 0 -4px #edc204;
}

.datepicker-toggle{
    position: absolute;
    width: 60px;
    height: 60px;
    left: -60px;
    color: #fff;
    background: #208843;
    text-align: center;
    box-shadow: 0 0 1px #fff;
    cursor: pointer;
    z-index: 15;
}

.datepicker-toggle i{
    position: relative;
    line-height: 60px;
    font-size: 36px;
}

.datepicker-toggle:hover{
    background: #3bb578;
}

.datepicker-toggle .datepicker-label{
    position: absolute;
    display: none;
    right: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    color: #fff;
    border-radius: 50%;
    background: #D91E18;
    text-align: center;
    font-size: 1em;
    line-height: 24px;
}

.datepicker-messages{
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.datepicker-messages.show{
    display: block;
}

.datepicker-messages .selected-date{
    padding: 6px 0 0 10px;
    font-size: 1.3em;
}

.datepicker-messages>.event{
    position: relative;
    padding-top: 6px;
}

.datepicker-messages>.event:after{
    display: block;
    position: relative;
    margin: 6px auto 0 auto;
    content: "";
    width: 220px;
    height: 0;
    border-bottom: 1px dotted #fff;
}

.datepicker-messages>.event>.event-time{
    position: absolute;
    left: 4px;
    width: 50px;
}

.datepicker-messages>.event>.event-text{
    padding-left: 55px;
}

.scroll-top{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #208843;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    opacity: 0;
    /*-webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
    z-index: 10;
}

.scroll-top .box{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #208843;
    border-radius: 4px;
    font-size: 2.3em;
}

.scroll-top.show:hover{
    opacity: 1;
}

.scroll-top.show{
    opacity: 0.8;
   /* -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;*/
}

.footer{
    position: relative;
    height: 90px;
    padding: 18px 0;
    color: #fff;
    background: #208944;
}

.footer .text-left{
    margin-left: 18px;
}

.footer .text-right{
    margin-right: 18px;
}

.footer:after{
    display: block;
    content: "";
    clear: both;
}

@media screen and (max-width: 1200px){

    .logo-kpi{
        padding: 0 46px !important;
    }

    .header-logo {
        margin-left: 20px !important;
    }

    .header-nav .navbar{
        margin: 0 20px 0 0 !important;
    }

    .container{
        width: 100% !important;
    }

    .header .header-nav{
        padding: 15px 10px 7px 10px;
        border-bottom: 1px solid #fff;
    }

}

@media screen and (max-width: 960px){

    .datepicker-toggle{
        display: block;
    }

}

@media screen and (max-width: 768px){

    .wrap{
        margin-bottom: -50px !important;
        padding-bottom: 50px !important;
    }

    .footer{
        padding: 5px 0 !important;
        height: 50px !important;
        font-size: 0.7em;
    }

    .menu-toggle{
        display: block;
    }

    .content .left-col{
        float: none !important;
        display: none;
        width: 100%;
    }

    .content .md-col {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .footer .text-left{
        padding-left: 5px;
    }

    .footer .text-right{
        padding-rigth: 5px;
    }
}

@media screen and (min-width: 768px){
    .content .left-col{
        display: block !important;
    }

}

@media screen and (max-width: 520px){
    .top-header .text{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .wrap{
        margin-bottom: -106px !important;
        padding-bottom: 106px !important;
    }

    .header{
        font-size: 0.8em;
        margin-bottom: 0;
    }

    .logo-kpi{
        padding: 0 24px !important;
    }

    .login-box{
        margin-top: 10px;
    }

    .carousel, .carousel-progress{
        display: none;
    }

    .content .right-col{
        margin-top: 0;
    }

    .content .left-col{
        margin-top: 0;
    }

    .footer{
        height: auto !important;
    }

    .footer .text-left,
    .footer .text-right{
        width: 100%;
        float: none !important;
        margin-bottom: 6px;
        text-align: center;
    }
}

@media screen and (max-width: 379px){
    .header{
        font-size: 0.67em;
    }
}

@media screen and (max-width: 350px){
    .login-box{
        width: 270px;
    }
}

/*---------Right Sidebar---------*/
#right-sidebar {
    float: left;
    width: 163px;
    margin-left: -163px;
    position: relative;
}

    #right-sidebar img {
        margin-top: 42px;
    }

    #right-sidebar ul {
        background: url(/Images/razdelitel.png) 0 0 repeat-x;
        margin-top: 42px;
    }

    #right-sidebar li {
        font-variant: small-caps;
        font-size: 14px;
        line-height: 36px;
        background: url(/Images/razdelitel.png) 0 100% repeat-x;
        position: relative;
        padding-left: 27px;
    }

        #right-sidebar li img {
            margin-right: 12px;
            left: 0;
            display: inline-block;
            position: absolute;
            clip: rect(auto, auto,17px, auto);
            top: 12px;
            margin-top: 0;
        }

        #right-sidebar li:hover img {
            clip: rect(17px,auto, auto, auto);
            top: -5px;
        }

        #right-sidebar li a {
            color: #999;
            text-decoration: none;
            display: block;
        }

            #right-sidebar li a:hover {
                color: #488eb7;
            }
/*---------Right Sidebar---------*/

#content {
    float: left;
    padding: 0 233px 0 50px;
}

    #content h2 {
        margin-top: 10px;
        font-size: 18px;
        color: #cc9900;
    }

    /*---------breadcrumbs---------*/
#breadcrumbs {
    margin-top: 10px;
}

    #breadcrumbs #current {
        color: #999;
    }

    #breadcrumbs a {
        color: #b8b8b8;
        text-decoration: none;
    }

        #breadcrumbs a:hover {
            text-decoration: underline;
        }

.breadcrumbs_marker {
    background: #eddba6;
    height: 7px;
    width: 7px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 4px 0 3px;
}
/*---------breadcrumbs---------*/