body {
}

#Photo
{
    max-height:200px;
    max-width:165px;
}

#ChangePass
{
    display:none;
}

#LoadPhoto
{
    display:none;
}

#UploadBtn
{
    width: 163px;
}

.upload
{
    width: 163px;
    max-height: 30px;
    overflow: hidden;
}

.chose-file
{
    display: block !important;
    width: 163px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    margin-left:-10px;
    margin-top:-25px;
    z-index:1;
}