
#timetable {
    margin: auto;
    border-collapse: collapse;
}

    #timetable table {
        border-collapse: collapse;
        /*width: 500px;*/
        height: 600px;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    }

#tableinput tr td table tr td {
    border: 1px #9C6604 solid;
}

#tableinput tr td {
    padding: 0px;
    border: 1px #9C6604 solid;
}

#tableinput td {
    border: 1px #9C6604 solid;
}

#timetable thead {
    border: 1px #FFF solid;
    margin: 0px;
    background-color: #9C6604;
    color: #FFF;
}

#timetable tbody {
    height: 600px;
}

.header_weeknumb {
    font-size: 25px;
}

#header_week {
}

.invisible {
    display: none;
}

#timetable_dayname {
    color: #FFF;
    width: 40px;
    background: #cd9f04;
}

p.vertical {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    font-size: 16pt;
    writing-mode: tb-rl;
    white-space: nowrap;
    display: block;
    -moz-transform: rotate(270deg); /* Для Firefox */
    -ms-transform: rotate(270deg); /* Для IE */
    -o-transform: rotate(270deg); /* Для Opera */
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.timetable_number {
    background-color: #ECC103;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 3px !important;
}

#timetable td {
    text-align: center;
}

p.tt_teacher_name, a.tt_lesson_name, p.tt_build_name {
    margin: 0px;
    padding: 0px;
    cursor: default;
}

p.tt_teacher_name {
    color: #27537d;
}

a.tt_lesson_name {
    font-weight: bold;
    color: #31679c;
    text-decoration: none;
}

    a.tt_lesson_name:visited {
        text-decoration: none;
        color: #9C6604;
    }

    a.tt_lesson_name:hover {
        color: #3774af;
    }

p.tt_build_name {
    color: #09151f;
}

p.tt_noinfo {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: #275f90;
}

#lesson {
    background-color: white;
    padding: 3px !important;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0px 0px -25px;
}

.tooltip {
    border-radius: 6px;
    display: none;
    position: absolute;
    border: 1px #9C6604 solid;
    width: 400px;
    background: #e5edf5;
    padding: 2px 6px;
}

    .tooltip p {
        margin-left: 5px;
        float: left;
        width: 250px;
    }

    .tooltip img {
        background-color: #FFFFFF;
        margin-top: 8px;
        margin-right: 5px;
        padding-top: 0px;
        float: right;
        border: 1px black solid;
        width: 80px;
    }

td {
    vertical-align: middle !important;
}
