<div class="container-fluid content">
    <div class="content">
        <div class="col-12">
            <h2>Підсистема адміністрування</h2>
            <div class="initButtonsWrapper textCentre main-menu">
                <div class="row">
                </div>
            </div>

            <div class="textCentre loginLinks">
                <p><a data-toggle="modal" data-target="#support-modal" href="#">Служба підтримки користувачів</a></p>
            </div>
        </div>
    </div>
</div>