<div class=" loginWrapper border-bottom-main-color">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 loginContainer">

            <div class="loader">
                <div class="loader_inner"></div>
            </div>

            <div class="loginLogo textCentre">
                <img src="../images/logo-big-green.png">
            </div>
            <p class="textCentre">Підсистема адміністрування</p>
            <div class="initButtonsWrapper textCentre main-menu">
                <div class="row">
                </div>
            </div>

            <div class="textCentre loginLinks">
                <p><a data-toggle="modal" data-target="#support-modal" href="#">Служба підтримки користувачів</a></p>
            </div>
        </div>
    </div>
</div>

<div id="authorized" class="hidden"></div>