<breadcrumbs>
  <span>Модулі</span> > <b>Атестація</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">

      <h1>Результати атестації</h1>

      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 selected-info">
        <div class="year-select">
          <label for="year" class="select-form__label">Навчальний рік</label>
          <ui-select id="year" class="select-form__select_attest" ng-model="studyYears.selected" append-to-body="true">
            <ui-select-match placeholder="Оберіть навчальний рік">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="itemYears in (studyYears | filter: $select.search) track by itemYears.id"
                               position="down">
              <span ng-bind="itemYears.name"></span>
            </ui-select-choices>
            <ui-select-no-choice>
              Рік не знайдено
            </ui-select-no-choice>
          </ui-select>
          <div class="error-load-attest" ng-show="errorMessageYears">{{errorMessageYears}}</div>
        </div>
        <div class="semester-select" ng-show="studyYears.selected">
          <label for="semester" class="select-form__label">Семестр</label>
          <ui-select id="semester" class="select-form__select_attest" ng-model="studySemesters.selected"
                     append-to-body="true">
            <ui-select-match placeholder="Оберіть семестр">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices
              repeat="itemSemester in (studySemesters | filter: $select.search) track by itemSemester.id"
              position="down">
              <span ng-bind="itemSemester.name"></span>
            </ui-select-choices>
            <ui-select-no-choice>
              Семестр не знайдено
            </ui-select-no-choice>
          </ui-select>
        </div>
        <div class="attest-num-select" ng-show="studySemesters.selected">
          <label for="attest-num" class="select-form__label">Номер атестації</label>
          <ui-select id="attest-num" class="select-form__select_attest"
                     ng-model="studyAttestationPeriod.selected"
                     append-to-body="true">
            <ui-select-match placeholder="Оберіть номер атестації">
              <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="attests in (studyAttestationPeriod | filter: $select.search) track by attests.id"
                               position="down">
              <span ng-bind="attests.name"></span>
            </ui-select-choices>
            <ui-select-no-choice>
              Номер атестації не знайдений
            </ui-select-no-choice>
          </ui-select>
          <div class="error-load-attest" ng-show="errorMessageAttests">{{errorMessageAttests}}</div>
        </div>

        <div class="text-center" ng-show="studyAttestationPeriod.selected">
          <button class="btn btn-primary btn-result" type="submit"
                  ng-click="clearAttestationPeriodId();
                  getAttestationPeriodId(
                    studyYears.selected.id,
                    studySemesters.selected.id,
                    studyAttestationPeriod.selected.id
                  );">
            Перевірити наявність даних про атестацію
          </button>
        </div>

        <div class="alert alert-danger text-center fade in attest-alert" ng-show="attestationPeriodId === null">
          Немає даних про атестацію для таких параметрів!
        </div>

        <div class="attest-menu" ng-show="attestationPeriodId !== null && attestationPeriodId !== 'not get'">
          <p class="text-center title-type-attest">Оберіть категорію для перегляду атестацій</p>
          <ul class="nav nav-pills-attest nav-justified attest-navigation " ng-model="choiceType">
            <li ng-class="{ active: isSet(1)}">
              <a
                ng-click="clearStudentsResult();setPill(1);choiceType = 'students';clearGroupsResult();clearLecturersResult();">Студенти</a>
            </li>
            <li ng-class="{ active: isSet(2)}">
              <a
                ng-click="clearGroupsResult();setPill(2);choiceType = 'groups';clearLecturersResult();clearStudentsResult();">Групи</a>
            </li>
            <li ng-class="{ active: isSet(3)}">
              <a
                ng-click="clearLecturersResult();setPill(3);choiceType = 'lecturers';clearGroupsResult();clearStudentsResult();">Викладачі</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div ng-switch="choiceType" ng-show="attestationPeriodId !== null && attestationPeriodId !== 'not get'">
        <div ng-switch-when="students">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 student-select">
            <label for="student-select" class="select-form__label">Прізвище Ім'я По-батькові студента</label>
            <ui-select id="student-select" ng-keyup="loadStudents($select.search);" class="select-form__select_attest"
                       ng-model="$parent.itemStudent" append-to-body="true">
              <ui-select-match placeholder="Введіть ПІБ студента">
                <span ng-bind="$select.selected.fullName"></span>
              </ui-select-match>
              <ui-select-choices repeat="student in (students | filter: $select.search) track by student.id"
                                 position="down">
                <span ng-bind="student.fullName"></span>
                <span class="student-study-group-name" ng-bind="student.group"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                Студента з таким ПІБ не знайдено
              </ui-select-no-choice>
            </ui-select>
            <div class="error-load-attest" ng-show="errorMessageStudents">{{errorMessageStudents}}</div>
            <div class="text-center">
              <button class="btn btn-primary btn-result" type="submit" ng-show="itemStudent"
                      ng-click="loadStudentsResult(itemStudent.id, attestationPeriodId);">Переглянути результати
              </button>
            </div>
            <div class="alert alert-info text-center fade in attest-alert"
                 ng-show="getStudentsResult && studentsResult.length === 0">
              Немає даних про атестацію для вказаного студента!
            </div>

            <div ng-show="getStudentsResult && studentsResult.length !== 0" class="table-responsive">
              <table class="table table-hover table-condensed table-bordered" id="table-attest-for-student">
                <thead class="hidden for-excel">
                <tr>
                  <th class="text-center">Навчальний рік</th>
                  <th class="text-center">{{studyYears.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">Семестр</th>
                  <th class="text-center">{{studySemesters.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">№ Атестації</th>
                  <th class="text-center">{{studyAttestationPeriod.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">Студент</th>
                  <th class="text-center">{{itemStudent.fullName}}</th>
                </tr>
                </thead>
                <thead>
                <tr>
                  <th class="text-center">№</th>
                  <th class="text-center">Назва предмету</th>
                  <th class="text-center">Результат атестація</th>
                  <th class="text-center">ПІБ викладача</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stud in studentsResult">
                  <td class="text-center">{{$index + 1}}</td>
                  <td class="text-center">{{getDisciplineName(stud.rnpRow.name);}}</td>
                  <td class="text-center">{{stud.attestation.name}}</td>
                  <td class="text-center">{{stud.lecturer.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center" ng-show="studentsResult.length !== 0">
              <a class="btn btn-success" download="attest.xls"
                 onclick="return ExcellentExport.excel(this, 'table-attest-for-student', 'attest');">
                <i class="fa fa-file-excel-o "></i> Завантажити звіт
              </a>
            </div>
          </div>
        </div>
        <div ng-switch-when="groups">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 group-select">
            <label for="group-select" class="select-form__label">Навчальна група</label>
            <ui-select id="group-select" ng-keyup="loadGroups($select.search, studyYears.selected.id);"
                       class="select-form__select_attest"
                       ng-model="$parent.itemGroup" append-to-body="true">
              <ui-select-match placeholder="Введіть ім'я групи">
                <span ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices repeat="groups in (Groups | filter: $select.search) track by groups.id"
                                 position="down">
                <span ng-bind="groups.name"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                Група не знайдена
              </ui-select-no-choice>
            </ui-select>
            <div class="error-load-attest" ng-show="errorMessageGroups">{{errorMessageGroups}}</div>
            <div class="text-center">
              <button class="btn btn-primary btn-result" type="submit" ng-show="itemGroup"
                      ng-click="loadGroupsResult(itemGroup.id, attestationPeriodId);">Переглянути результати
              </button>
            </div>
            <div class="alert alert-info text-center fade in attest-alert"
                 ng-show="getGroupsResults && groupsResult.length === 0">
              Немає даних про атестацію для вказаної групи!
            </div>
          </div>
          <div class="col-md-12">
            <div ng-show="getGroupsResults && groupsResult.length !== 0" class="table-responsive">
              <table class="table table-hover table-condensed table-bordered" id="table-attest-group">
                <thead class="hidden for-excel">
                <tr>
                  <th class="text-center">Навчальний рік</th>
                  <th class="text-center">{{studyYears.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">Семестр</th>
                  <th class="text-center">{{studySemesters.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">№ Атестації</th>
                  <th class="text-center">{{studyAttestationPeriod.selected.name}}</th>
                </tr>
                <tr>
                  <th class="text-center">Група</th>
                  <th class="text-center">{{itemGroup.name}}</th>
                </tr>
                </thead>
                <thead>
                <tr>
                  <th class="text-center">№</th>
                  <th class="text-center">ПІБ</th>
                  <th class="text-center" ng-repeat="disc in disciplinesListForGroups">
                    "{{getDisciplineName(disc.disciplineFullName)}}"
                    <br>
                    {{disc.teacherName}}
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stud in studentsList">
                  <td class="text-center">{{$index + 1}}</td>
                  <td>{{stud}}</td>
                  <td class="text-center" ng-repeat="att in (groupsResult | filter: stud)">{{att.attestation.name}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center" ng-show="groupsResult.length !== 0">
              <a class="btn btn-success" download="attest.xls"
                 onclick="return ExcellentExport.excel(this, 'table-attest-group', 'attest');">
                <i class="fa fa-file-excel-o "></i> Завантажити звіт
              </a>
            </div>
          </div>
        </div>
        <div ng-switch-when="lecturers">
          <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 lecturers-select">
            <label for="lecturers-select" class="select-form__label">Прізвище Ім'я По-батькові викладача</label>
            <ui-select id="lecturers-select" ng-keyup="loadLecturers($select.search);"
                       class="select-form__select_attest"
                       ng-model="$parent.itemLecturers" append-to-body="true">
              <ui-select-match placeholder="Введіть ПІБ викладача">
                <span ng-bind="$select.selected.fullName"></span>
              </ui-select-match>
              <ui-select-choices repeat="lecturer in (lecturersList | filter: $select.search) track by lecturer.id"
                                 position="down">
                <span ng-bind="lecturer.fullName"></span>
                <span class="lecturer-subdivision-name" ng-bind="lecturer.subdivisionName"></span>
              </ui-select-choices>
              <ui-select-no-choice>
                Викладача з таким ПІБ не знайдено
              </ui-select-no-choice>
            </ui-select>
            <div class="error-load-attest" ng-show="errorMessageLecturers">{{errorMessageLecturers}}</div>
            <div class="text-center">
              <button class="btn btn-primary btn-result" type="submit" ng-show="itemLecturers"
                      ng-click="loadLecturersResult(itemLecturers.id, attestationPeriodId);">Переглянути результати
              </button>
            </div>
            <div class="alert alert-info text-center fade in attest-alert"
                 ng-show="getLecturersResults && lecturersResult.length === 0">
              Немає даних про атестацію для вказаного викладача!
            </div>
            <div ng-show="getLecturersResults">
              <div class="course-select">
                <label for="course" class="select-form__label">Курс</label>
                <ui-select id="course" class="select-form__select_attest" ng-model="$parent.itemCourse"
                           append-to-body="true">
                  <ui-select-match placeholder="Оберіть курс">
                    <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="course in (coursesListForLecturers | filter: $select.search)"
                                     position="down">
                    <span ng-bind="course"></span>
                  </ui-select-choices>
                  <ui-select-no-choice>
                    Курс не знайдено
                  </ui-select-no-choice>
                </ui-select>
              </div>
              <div class="discipline-select">
                <label for="discipline" class="select-form__label">Дисципліна</label>
                <ui-select id="discipline" class="select-form__select_attest" ng-model="$parent.itemDiscipline"
                           append-to-body="true">
                  <ui-select-match placeholder="Оберіть дисципліну">
                    <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="discipline in (disciplinesListForLecturers | filter: $select.search)"
                                     position="down">
                    <span ng-bind="discipline"></span>
                  </ui-select-choices>
                  <ui-select-no-choice>
                    Дисципліну не знайдено
                  </ui-select-no-choice>
                </ui-select>
              </div>
              <div class="group-lect-select">
                <label for="group-lect" class="select-form__label">Група</label>
                <ui-select id="group-lect" class="select-form__select_attest" ng-model="$parent.itemGroupLect"
                           append-to-body="true">
                  <ui-select-match placeholder="Оберіть групу">
                    <span ng-bind="$select.selected"></span>
                  </ui-select-match>
                  <ui-select-choices repeat="group in (groupsListForLecturers | filter: $select.search)"
                                     position="down">
                    <span ng-bind="group"></span>
                  </ui-select-choices>
                  <ui-select-no-choice>
                    Групу не знайдено
                  </ui-select-no-choice>
                </ui-select>
              </div>

              <div ng-show="itemGroupLect && lecturersResult.length !== 0" class="table-responsive">
                <table class="table table-hover table-condensed table-bordered" id="table-attest-lecturer">
                  <thead class="hidden for-excel">
                  <tr>
                    <th class="text-center">Навчальний рік</th>
                    <th class="text-center">{{studyYears.selected.name}}</th>
                  </tr>
                  <tr>
                    <th class="text-center">Семестр</th>
                    <th class="text-center">{{studySemesters.selected.name}}</th>
                  </tr>
                  <tr>
                    <th class="text-center">№ Атестації</th>
                    <th class="text-center">{{studyAttestationPeriod.selected.name}}</th>
                  </tr>
                  <tr>
                    <th class="text-center">Група</th>
                    <th class="text-center">{{itemGroupLect}}</th>
                  </tr>
                  </thead>
                  <thead>
                  <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">ПІБ</th>
                    <th class="text-center">Результат</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                    ng-repeat="stud in lecturersResult | filter:itemCourse | filter:itemDiscipline | filter:itemGroupLect">
                    <td class="text-center">{{$index + 1}}</td>
                    <td>{{stud.student.name}}</td>
                    <td class="text-center">{{stud.attestation.name}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center" ng-show="lecturersResult.length !== 0">
                <a class="btn btn-success" download="attest.xls"
                   onclick="return ExcellentExport.excel(this, 'table-attest-lecturer', 'attest');">
                  <i class="fa fa-file-excel-o "></i> Завантажити звіт
                </a>
              </div>
            </div>
          </div>
        </div>
        <div ng-switch-default></div>
      </div>
    </div>
  </div>
</div>
