<breadcrumbs>    
  <span>Довідники</span> > <span><b>Довідник дисциплін</b></span>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">
      <h1>Довідник дисциплін</h1>
      <div class="alert alert-warning" ng-hide="errorLabelText===''" role="alert">{{errorLabelText}}</div>
    </div>
    <div id="filter" class="col-md-5 margin_top_15 filter__padding" ng-show="showFilter">
      <div class="faculty-select">
        <label for="faculty" class="select-form__label">Факультет</label>
        <ui-select id="faculty" class="select-form__select_attest" ng-model="faculties.selected"
                   append-to-body="true"
                   on-select="filterSubdivision(fullSubdivisionResponse, faculties.selected.id); loadCM();">
          <ui-select-match placeholder="Оберіть факультет">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="faculty in (faculties | filter: $select.search) track by faculty.id"
                             position="down">
            <span ng-bind="faculty.name"></span>
          </ui-select-choices>
          <ui-select-no-choice>
            Факультет не знайдено
          </ui-select-no-choice>
        </ui-select>
      </div>
      <div class="subdivision-select">
        <label for="subdivision" class="select-form__label">Кафедра</label>
        <ui-select id="subdivision" class="select-form__select_attest" ng-model="subdivisions.selected"
                   append-to-body="true"
                   on-select="loadSpecialities(subdivisions.selected.id); loadCM();">
          <ui-select-match placeholder="Оберіть кафедру">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="subdivision in (subdivisions | filter: $select.search) track by subdivision.id"
                             position="down">
            <span ng-bind="subdivision.name"></span>
          </ui-select-choices>
          <ui-select-no-choice>
            Кафедру не знайдено
          </ui-select-no-choice>
        </ui-select>
      </div>
      <div class="speciality-select">
        <label for="speciality" class="select-form__label">Спеціальність</label>
        <ui-select id="speciality" class="select-form__select_attest" ng-model="specialities.selected"
                   append-to-body="true"
                   on-select="loadSpecializations(specialities.selected.id); reloadDisciplines('not set', 'not set', specialities.selected.id);">
          <ui-select-match placeholder="Оберіть спеціальність">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="speciality in (specialities | filter: $select.search)"
                             position="down">
            <span ng-bind="speciality.name"></span>
          </ui-select-choices>
          <ui-select-no-choice>
            Спеціальність не знайдено
          </ui-select-no-choice>
        </ui-select>
      </div> 

      <div class="okr-select">
        <input type="radio" class="filterDependsOnYearCls" id="filterOkr" name="filterDependsOnYear" ng-model="filterOkr" ng-change="filterSpecialization=false; selectedSpecialization=''; reloadDisciplines('not set', specialities.selected.profTrainTotal.subdivisionId);" ng-value="true">
        <label for="filterOkr" class="select-form__label">до 2016 р. вступу</label>      
        <!--<ui-select id="okr" class="select-form__select_attest" ng-model="allOkr.selected" append-to-body="true" on-select="reloadDisciplines('not set', allOkr.selected.profTrainTotal.subdivisionId);" ng-disabled="filterSpecialization" ng-class="{'notActive':filterSpecialization === true}">
          <ui-select-match placeholder="Оберіть ОКР">
            <span ng-bind="$select.selected.okr.name"></span>
          </ui-select-match>
          <ui-select-choices repeat="okr in (allOkr | filter: $select.search)"
                             position="down">
            <span ng-bind="okr.okr.name"></span>
          </ui-select-choices>
          <ui-select-no-choice>
            ОКР не знайдено
          </ui-select-no-choice>
        </ui-select>-->
      </div>           
      
      <div class="specialization-select">
        <input type="radio" class="filterDependsOnYearCls" id="filteredSpecialization" name="filterDependsOnYear" ng-model="filterSpecialization" ng-change="filterOkr=false; selectedOkr=''; loadCM();" ng-value="true">       
        <label for="filteredSpecialization" class="select-form__label">після 2016 року вступу (Спеціалізація)</label>      
        <ui-select id="Specialization" class="select-form__select_attest" ng-model="specializations.selected"
                   append-to-body="true"
                   on-select="reloadDisciplines(specializations.selected.id, 'not set');"
                   ng-disabled="filterOkr" ng-class="{'notActive':filterOkr === true}">
          <ui-select-match placeholder="Оберіть спеціалізацію">
            <span ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices
            repeat="specialization in (specializations | filter: $select.search) track by specialization.id"
            position="down">
            <span ng-bind="specialization.name"></span>
          </ui-select-choices>
          <ui-select-no-choice>
            Спеціалізацію не знайдено
          </ui-select-no-choice>
        </ui-select>
      </div>
    </div>

    <div class="col-md-12" id="np-content">
      <button id="filter-toggle" type="button" class="btn btn-primary btn_filter_green btn-filters"
              ng-click="showFilter = !showFilter">
        Показати фільтри
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      </button> 
      <button type="button" class="btn btn-primary btn_filter_green btn-filters"
              ng-click="editable = !editable">
        Редагувати
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </button>      
      <div class="table-responsive" style="padding-bottom: 200px">
        <table class="table table-bordered table-condensed table-hover">
          <caption class="text-right">Наявні кредитні модулі</caption>
          <thead>          
          	<tr class="patterns__table-header color-head">
          		<th class="tdFullAlignCenter">
          			Назва дисципліни
          		</th>
          		<th class="tdFullAlignCenter">
          			Назва циклу дисципліни
          		</th>
          		<th class="tdFullAlignCenter">
          			Шифр
          		</th>
          		<th class="tdFullAlignCenter">
          			Кредити
          		</th>
          		<th class="tdFullAlignCenter">
          			Опис
          		</th>
          		<th class="tdFullAlignCenter" ng-show="editable">
          			Дія
          		</th>
          	</tr>          
          	<tr class="d-s-table patterns__table-button" ng-show="editable && subdivisions.selected">
          		<td colspan="6" class="text-center" ng-click="addDisc();">
          			<i class="fa fa-plus" aria-hidden="true"></i>Додати нову дисципліну
          		</td>
          	</tr>
          </thead>
          <tbody>
          	<tr ng-repeat="objDisc in disciplines">  
              <td>
								<div editable-ui-select="objDisc.discipline8" theme="bootstrap" data-e-form="rowformDisciplines" data-e-name="objDisc.discipline8" name="objDisc.discipline8" data-e-ng-model="objDisc.discipline8" append-to-body="true" onbeforesave="checkDiscForm($data)" e-required>
                  {{objDisc.discipline8.name || 'не вказано'}}
                  <editable-ui-select-match placeholder="Дисципліна">
                    {{$select.selected.name || objDisc.discipline8}}
                  </editable-ui-select-match>
                  <editable-ui-select-choices repeat="disc in allDisciplines | filter: $select.search track by disc.id" position="down" style="width: 400px!important;">
                    {{disc.name}}
                  </editable-ui-select-choices>
                </div>
              </td>
              <td>
              	<div editable-ui-select="objDisc.component" theme="bootstrap" data-e-form="rowformDisciplines" data-e-name="objDisc.component" name="objDisc.component" data-e-ng-model="objDisc.component" append-to-body="true" onbeforesave="checkDiscForm($data)" e-required>
                  {{objDisc.component.name || 'не вказано'}}
                  <editable-ui-select-match placeholder="Цикл">
                    {{$select.selected.name || objDisc.component}}
                  </editable-ui-select-match>
                  <editable-ui-select-choices repeat="comp in allComponents | filter: $select.search track by comp.id" position="down" style="width: 400px!important;">
                    {{comp.name}}
                  </editable-ui-select-choices>
                </div>

              	
              </td>
              <td>
              	<span editable-text="objDisc.shifr" e-name="shifr" e-form="rowformDisciplines" onbeforesave="checkDiscForm($data)" e-required>
                  {{objDisc.shifr || 'не вказано'}}
                </span>
              </td>
              <td>              	
                <span editable-checkbox="objDisc.outCredit" e-name="outCredit" e-form="rowformDisciplines">
                	<input type="checkbox" ng-disabled="true" ng-model="objDisc.outCredit">
                	{{showStatus(objDisc.outCredit)}}
              	</span>
              </td>
              <td>
              	<span editable-text="objDisc.description" e-name="description" e-form="rowformDisciplines">
                  {{objDisc.description || 'не вказано'}}
                </span>
              </td>
							<td class="tdFullAlignCenter" ng-show="editable && subdivisions.selected">
                <form editable-form name="rowformDisciplines" onbeforesave="saveDisc($data,objDisc);"
                      ng-show="rowformDisciplines.$visible"
                      class="form-buttons form-inline" shown="insertedDisc == objDisc">
                  <button type="submit" ng-disabled="rowformDisciplines.$waiting"
                          class="btn patterns__table-button patterns__table-button_CRUD-button patterns__table-button_CRUD-button_save">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                  </button>
                  <button type="button" ng-disabled="rowformDisciplines.$waiting"
                          ng-click="rowformDisciplines.$cancel(); cancelDisc(objDisc);"
                          class="btn patterns__table-button patterns__table-button_CRUD-button patterns__CRUD-buttons_cancel">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </form>

                <div class="buttons" ng-show="!rowformDisciplines.$visible">
                  <button type="button"
                          class="btn patterns__table-button patterns__table-button_CRUD-button patterns__table-button_CRUD-button_edit"
                          ng-click="rowformDisciplines.$show();">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>

                  </button>
                  <button type="button"
                          class="btn patterns__table-button patterns__table-button_CRUD-button patterns__table-button_CRUD-button_delete"
                          ng-click="removeDisc(objDisc)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
	
          </tbody>
        </table>
      </div>
    </div>  
  </div>
</div>