<div class="container-fluid content">
  <div class="content">
    <div class="row">
      <div class="col-md-12">

        <h1>Контактнi данi</h1>

        тел.: +38 (044) 454 98 45<br />
        факс: +38 (044) 454 98 45<br/>
        e-mail: <a href="mailto:ecampus@kpi.ua">ecampus@kpi.ua</a><br />
        <br />

       <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=25MWReX80gH3dsPHAmaWp2FjGFAu4fhU&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

       <h2>Кориснi посилання</h2>

       <ul>
          <li><a href="https://github.com/kpi-ua">Аккаунт КПI у GitHub</a></li>
          <li><a href="https://vk.com/club1878744">Сторiнка КБ IC на VK</a></li>
          <li><a href="https://www.facebook.com/kbis.kpi.ua">Сторiнка КБ IC на Facebook</a></li>           
       </ul>
       
      </div>
    </div>
  </div>
</div>
