<breadcrumbs>
  <span>Інформація</span> > <b>Контактнi данi</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">

      <h2>Контактнi данi</h2>

      тел.: +38 (044) 454 98 45<br/> факс: +38 (044) 454 98 45<br/> e-mail: <a href="mailto:ecampus@kpi.ua">ecampus@kpi.ua</a><br/>
      <br/>

      <script type="text/javascript" charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=25MWReX80gH3dsPHAmaWp2FjGFAu4fhU&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
    </div>
  </div>
</div>
