<breadcrumbs>
  <span>Модулі</span> > <span>Навчальний процесс</span> > <b>Дисципліни спеціалізації</b>
</breadcrumbs>

<div class="container">
  <div header></div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div id="download-general-info" ng-show="loader" class="text-center">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw text-center" style="color: #208843;"></i>
        <div class="alert alert-info text-center fade in">
          Зачекайте будь ласка відбувається завантаження даних!
        </div>
      </div>
      <div class="error-load-general-info" ng-show="!!errorMessage">
        <div class="alert alert-danger text-center fade in">
          {{errorMessage}}
        </div>
      </div>
      <div class="panel panel-default" ng-hide="hideInfo">
        <div class="panel-heading title">
          <div class="panel-title-image">Загальна інформація</div>
        </div>
        <div class="panel-body">
          <div class="general-info">
            <div class="well well-lg specialization-info">
              <p class="specialization-code">{{info.totalShifr}}</p>
              <p class="specialization-name">{{info.proftrain}}</p>
            </div>
            <div class="well well-lg okr-info">
              <p class="okr-name">{{info.okr}}</p>
            </div>
            <div class="row account-info">
              <div class="col-lg-4 col-md-3 col-sm-3 col-xs-7">
                <div class="labels">Група</div>
                <div class="labels">Курс</div>
                <div class="labels">Рік зарахування</div>
                <div class="labels">Поточний навчальний рік</div>
              </div>
              <div class="col-lg-8 col-md-9 col-sm-9 col-xs-5">
                <div class="group">{{info.studyGroupName}}</div>
                <div class="course">{{info.studyCourse}}</div>
                <div class="start-yeare">{{info.yearIntake}}</div>
                <div class="current-year">{{info.currentStudyYear}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default" ng-hide="hideInfo">
        <div class="panel-heading title">
          <div class="panel-title disciplines-header">Дисципліни вільного вибору згідно НП</div>
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs nav-justified">
            <li ng-class="{ active: isSet(1)}">
              <a ng-click="setTab(1)">1 курс</a>
            </li>
            <li ng-class="{ active: isSet(2)}">
              <a ng-click="setTab(2)">2 курс</a>
            </li>
            <li ng-class="{ active: isSet(3)}">
              <a ng-click="setTab(3)">3 курс</a>
            </li>
            <li ng-class="{ active: isSet(4)}">
              <a ng-click="setTab(4)">4 курс</a>
            </li>
          </ul>

          <div class="tab-content" style="margin-top: 20px;">
            <div class="tab-pane course" ng-class="{ active: isSet(1)}">
              <div class="row well well-md disciplines-info">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5">
                  <div class="labels">Семестр</div>
                  <div class="labels">Опис</div>
                  <div class="labels">Назва блоку</div>
                  <div class="labels">Статус</div>
                  <div class="labels">Дисципліна</div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7">
                  <div class="semester">1</div>
                  <div class="description">Опис дисципліни 1</div>
                  <div class="block-name">Блок 1</div>
                  <div class="status">обрана</div>
                  <div class="discipline">Дисципліна 1</div>
                </div>
                  </div>
            </div>
            <div class="tab-pane course" ng-class="{ active: isSet(2)}">
              <div class="row well well-md disciplines-info">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5">
                  <div class="labels">Семестр</div>
                  <div class="labels">Опис</div>
                  <div class="labels">Назва блоку</div>
                  <div class="labels">Статус</div>
                  <div class="labels">Дисципліна</div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7">
                  <div class="semester">3</div>
                  <div class="description">Опис дисципліни 3</div>
                  <div class="block-name">Блок 3</div>
                  <div class="status">обрана</div>
                  <div class="discipline">Дисципліна 3</div>
                </div>
              </div>
              </div>
            <div class="tab-pane course" ng-class="{ active: isSet(3)}">
              <div class="row well well-md disciplines-info">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5">
                  <div class="labels">Семестр</div>
                  <div class="labels">Опис</div>
                  <div class="labels">Назва блоку</div>
                  <div class="labels">Статус</div>
                  <div class="labels">Дисципліна</div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7">
                  <div class="semester">5</div>
                  <div class="description">Опис дисципліни 5</div>
                  <div class="block-name">Блок 5</div>
                  <div class="status">не обрана</div>
                  <div class="discipline">Дисципліна 5</div>
                </div>
                  </div>
              </div>
            <div class="tab-pane course" ng-class="{ active: isSet(4)}">
              <div class="row well well-md disciplines-info">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-5">
                  <div class="labels">Семестр</div>
                  <div class="labels">Опис</div>
                  <div class="labels">Назва блоку</div>
                  <div class="labels">Статус</div>
                  <div class="labels">Дисципліна</div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-7">
                  <div class="semester">7</div>
                  <div class="description">Опис дисципліни 7</div>
                  <div class="block-name">Блок 7</div>
                  <div class="status">не обрана</div>
                  <div class="discipline">Дисципліна 7</div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
