<breadcrumbs>
  <span>Дисципліни вибору</span> > <span>Вибір студента</span>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">

      <h1>Вибір студента</h1>

      <div header></div>

      <div ng-show="errorInfo" class="alert alert-danger text-center">
        {{errorInfo}}
      </div>
      <div ng-hide="errorInfo" class="info-about-student">
        <div class="panel panel-default panel-student-info">
          <div class="panel-heading title-panel-student-info">
            <div class="panel-title-image">Загальна інформація</div>
          </div>
          <div class="panel-body panel-student-info-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-7 labels-group">
                  <div class="labels">Напрям</div>
                  <div class="labels">Освітній рівень</div>
                  <div class="labels">Курс</div>
                  <div class="labels">Група</div>
                  <div class="labels">Рік зарахування</div>
                  <div class="labels">Поточний навчальний рік</div>
                </div>
                <div class="col-lg-8 col-md-9 col-sm-9 col-xs-5 loading-data">
                  <div class="proftrain">{{info.totalShifr + " " + info.proftrain}}</div>
                  <div class="okr">{{info.okr}}</div>
                  <div class="course">{{info.studyCourse}}</div>
                  <div class="group">{{info.studyGroupName}}</div>
                  <div class="start-year">{{info.yearIntake}}</div>
                  <div class="current-year">{{info.currentStudyYear}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="errorDisciplines" class="disciplines-header">Дисципліни вільного вибору</div>
      </div>

      <div class="container-fluid">
        <div ng-show="errorDisciplines" class="alert alert-danger text-center">
          {{errorDisciplines}}
        </div>
        <div ng-hide="errorDisciplines" class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 nav-pills-campus selective-disciplines-navs">
            <ul class="nav nav-stacked">
              <li ng-class="{ 'nav-pills-campus_active': isSet(1)}">
                <a class="nav-pills-campus__item" ng-click="setTab(1)">1 курс<br>
              {{getStudyCoursesWithYears(+ (info.yearIntake)).firstCourse}}</a>
              </li>
              <li ng-class="{ 'nav-pills-campus_active': isSet(2)}">
                <a class="nav-pills-campus__item" ng-click="setTab(2)">2 курс<br>
                  {{getStudyCoursesWithYears(+ (info.yearIntake)).secondCourse}}</a>
              </li>
              <li ng-class="{ 'nav-pills-campus_active': isSet(3)}">
                <a class="nav-pills-campus__item" ng-click="setTab(3)">3 курс<br>
                  {{getStudyCoursesWithYears(+ (info.yearIntake)).thirdCourse}}</a>
              </li>
              <li ng-class="{ 'nav-pills-campus_active': isSet(4)}">
                <a class="nav-pills-campus__item" ng-click="setTab(4)">4 курс<br>
                  {{getStudyCoursesWithYears(+ (info.yearIntake)).fourthCourse}}</a>
              </li>
              <li ng-class="{ 'nav-pills-campus_active': isSet(5)}" ng-hide="info.okr != 'Магістр'">
                <a class="nav-pills-campus__item" ng-click="setTab(5)">5 курс<br>
                  {{getStudyCoursesWithYears(+ (info.yearIntake)).fifthCourse}}</a>
              </li>
              <li ng-class="{ 'nav-pills-campus_active': isSet(6)}" ng-hide="info.okr != 'Магістр'">
                <a class="nav-pills-campus__item" ng-click="setTab(6)">6 курс<br>
                  {{getStudyCoursesWithYears(+ (info.yearIntake)).sixthCourse}}</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 selective-disciplines-info">
            <div class="tab-content selective-disciplines-tabs">
              <div class="tab-pane course" ng-class="{ active: isSet(1)}">
                <discipline-choice-semester study-course="firstCourse"></discipline-choice-semester>
              </div>
              <div class="tab-pane course" ng-class="{ active: isSet(2)}">
                <discipline-choice-semester study-course="secondCourse"></discipline-choice-semester>
              </div>
              <div class="tab-pane course" ng-class="{ active: isSet(3)}">
                <discipline-choice-semester study-course="thirdCourse"></discipline-choice-semester>
              </div>
              <div class="tab-pane course" ng-class="{ active: isSet(4)}">
                <discipline-choice-semester study-course="fourthCourse"></discipline-choice-semester>
              </div>
              <!--<div class="tab-pane course" ng-class="{ active: isSet(5)}" ng-hide="info.okr != 'Магістр'">-->
                <!--<div class="choice-semester" ng-repeat="fifth in fifthCourse">-->
                  <!--<div class="panel panel-default disciplines-info">-->
                    <!--<div class="panel-heading semester-heading">-->
                      <!--<div class="container-fluid">-->
                        <!--<div class="row">-->
                          <!--<div class="col-lg-4 col-md-3 col-sm-3 col-xs-5 labels-group">-->
                            <!--<div class="labels">Навчальний рік</div>-->
                            <!--<div class="labels">Семестр</div>-->
                            <!--<div class="labels">Статус</div>-->
                          <!--</div>-->
                          <!--<div class="col-lg-8 col-md-9 col-sm-9 col-xs-7 loading-data">-->
                            <!--<div class="studyYear">{{fifth.studyPeriod.start}}-{{fifth.studyPeriod.end}}</div>-->
                            <!--<div class="semester">{{fifth.semester || "інформацію не вказано"}}</div>-->
                            <!--<div class="status">{{translateStatus(fifth.status) || "інформацію не вказано"}}-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="tab-pane course" ng-class="{ active: isSet(6)}" ng-hide="info.okr != 'Магістр'">-->
                <!--<div class="choice-semester" ng-repeat="sixth in sixthCourse">-->
                  <!--<div class="panel panel-default disciplines-info">-->
                    <!--<div class="panel-heading semester-heading">-->
                      <!--<div class="container-fluid">-->
                        <!--<div class="row">-->
                          <!--<div class="col-lg-4 col-md-3 col-sm-3 col-xs-5 labels-group">-->
                            <!--<div class="labels">Навчальний рік</div>-->
                            <!--<div class="labels">Семестр</div>-->
                            <!--<div class="labels">Статус</div>-->
                          <!--</div>-->
                          <!--<div class="col-lg-8 col-md-9 col-sm-9 col-xs-7 loading-data">-->
                            <!--<div class="studyYear">{{sixth.studyPeriod.start}}-{{sixth.studyPeriod.end}}</div>-->
                            <!--<div class="semester">{{sixth.semester || "інформацію не вказано"}}</div>-->
                            <!--<div class="status">{{translateStatus(sixth.status) || "інформацію не вказано"}}-->
                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
