<div class="container">
    <div header></div>
    <div class="row main-menu">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
            <div id="bulletins-board" class="menu-block">
                <a href="/#/bulletins-board">
                    <img src="/images/home/email.png">
                    <span>Оголошення</span>
                </a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" align="center">
            <div id="study-process" class="menu-block dropdown">
                <a href="#" data-toggle="dropdown">
                    <img src="/images/home/open-book.png">
                    <span>Навчальний процес</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Індивідуальний план</a></li>
                    <li><a href="/#/disciplines-choice-st">Вибір дисциплін</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
