<div class="container-fluid content">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <a href="/">
                                <img src="/images/logo-big-green.png" alt="Електроний кампус" class="img-responsive logo-green" />
                            </a>
                            <h2 class="text-center">Авторизацiя у системi</h2>
                            <div class="panel-body">
                                <form>

                                    <fieldset>
                                        <div class="form-group">
                                            <input type="text" ng-model="login" class="form-control" , placeholder="Логін" />
                                        </div>
                                        <div class="form-group">
                                            <input type="password" ng-model="password" class="form-control" , placeholder="Пароль" />
                                        </div>

                                        <div class="form-group" ng-if="!!error">
                                            <div class="alert alert-danger">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> Перевірте корректність логіну та паролю.
                                            </div>
                                        </div>
                                        <input type="submit" class="btn btn-success btn-block" ng-click="auth()" value="Вхід" />
                                    </fieldset>

                                </form>
                                <br />
                                <a class="support-modal-link" data-toggle="modal" data-target="#support-modal">Служба підтримки</a>
                                <a href="/#/RestorePassword">Вiдновити втрачений пароль</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>