<div class="public-wrap container-fluid">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="dummy col-md-4">

                <img src="/images/logo-big.png" alt="Електроний кампус" class="img-responsive logo-green" />
                <br />

                <a class="btn btn-default btn-block" href="http://login.kpi.ua">Авторизуватися у системі</a>
                <br />
                <a class="btn btn-default btn-block" href="/#/restore-password.html">Відновити втрачений пароль</a>
                <br />

                <a class="information-link" data-toggle="modal" data-target="#support-modal">Служба підтримки</a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
