<breadcrumbs>
  <span>Інформація</span> > <b>Правила використання інформації сайту</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">

      <h2>Правила використання інформації сайту</h2>

      <p>Редакція проекту "Електронний кампус «КПІ»" не несе відповідальності за наслідки використання інформації
        проекту. Відвідувач використовує інформацію проекту на свій ризик. Думка редакції може не співпадати
        з думкою авторів публікацій.</p>

      <p>Всі права захищено. Всі авторські матеріали, створені спеціально для проекту "Електронний кампус «КПІ»",
        або переклади з інших джерел, а також верстка є власністю проекту. </p>
      <p>Відтворення будь-якої авторської інформації, поданої на сайті, можливе лише за умов обов'язкового розміщення
        посилання на сайт "Електронний кампус «КПІ»" (<a href="http://campus.kpi.ua/">campus.kpi.ua/</a>),
        у веб-орієнтованих засобах обов'язковим є гіперпосилання.</p>
      <p>Забороняється приховувати гіперпосилання, використовувати JavaScript у гіперпосиланні чи обмежувати
        індексацію
        гіперпосилання пошуковими системами! Гіперпосилання має бути розміщеним над або під матеріалом, якщо
        інше не передбачено дизайном сайту, що використовує матеріал.</p>
      <p>Всі методичні матеріали, викладені в Кампусі є інтелектуальною власністю авторів, допускається їх
        використання
        тільки для навчального процесу КПІ. Викладання методичних матеріалів Кампуса в соціальних мережах без
        письмового дозволу авторів переслідується згідно закону України “Про авторські права”.</p>

    </div>
  </div>
</div>
