<div class="container-fluid content">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <a href="/">
                                <img src="/images/logo-big-green.png" alt="Електроний кампус" class="img-responsive logo-green" />
                            </a>
                            <h2 class="text-center">Втратили свiй пароль, чи логiн?</h2>
                            <p>Ви можете вiдновити доступ до системи.</p>
                            <div class="panel-body">
                                <form class="form">
                                    <fieldset>
                                        <div class="form-group" ng-show="step == 1">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input ng-model="userId" placeholder="Email або Логiн" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="step == 2">
                                            <div class="form-control captcha-container">
                                                <img id="captcha-image" class="image-response" src="{{captchaImage}}" />
                                                <br />
                                                <span ng-click="getCaptcha()" class="link">Оновити зображення</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="step == 2">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-check color-blue"></i></span>
                                                <input ng-model="captcha" placeholder="Код пiдтверждення" class="form-control" type="text" required>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="step == 1">
                                            <input ng-disabled="!userId" class="btn btn-md btn-primary btn-block" value="Вiдновити доступ" disabled ng-click="getCaptcha()" type="button">
                                        </div>
                                        <div class="form-group" ng-show="step == 2">
                                            <input class="btn btn-md btn-primary btn-block" value="Надiслати пароль" ng-disabled="!captcha" ng-click="restorePassword()" type="button">
                                        </div>
                                        <div class="form-group loader" ng-if="!!loader">
                                            <div class="input-group">
                                                <img class="img-responsive" src="/images/ajax-loader.gif" alt="loading..." />
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="step == 3">
                                            <h4>Пароль було надiслано на вашу електрону пошту</h4>
                                            <a href="http://login.kpi.ua">Перейти на головну</a>
                                        </div>
                                        <div class="form-group" ng-show="step == 4">
                                            <h4>Неможливо надiслати пароль</h4>
                                            <div class="text-left">
                                                На жаль, електрона пошта не налаштована для вашого акаунту.<br /> Проте ви все ще можете вiдновити доступ до системи:

                                                <h4>Варіант 1</h4>
                                                <strong>Не знаю (забув) логін та пароль (при цьому не змінював пароль)</strong>:
                                                <ol>
                                                    <li>Звернутися до відповідального на кафедрі за впровадження ЕК або до куратора, якому повинен був передати ці данні відповідальний</li>
                                                    <li>Прийти в 13 корпус 25 кабінет і отримати власні дані після пред'явлення будь-якого документу з фото, що підтверджує особу (читацький квиток також підходить).</li>
                                                </ol>
                                                <h4>Варіант 2</h4>
                                                <strong>Забув змінений пароль. В цьому випадку пароль не видається відповідальному на підрозділі</strong>:
                                                <ol>
                                                    <li>Написати лист на e-campus@ukr.net з копією на ecampus@kpi.ua з тієї пошті, за допомогою якої була здійснена зміна паролю та очікувати відповідь (нажаль ця процедура здійснюється не автоматично, а людиною).
                                                        Проте бували випадки, коли за викладача поштову скриньку створювали студенти, а потім надсилали нам листи від імені викладача щодо зміни власних даних та даних поточного контролю, тому будьте уважними!</li>
                                                    <li>Прийти в 13 корпус 25 кабінет і отримати власні дані після пред'явлення будь-якого документу з фото, що підтверджує особу (читацький квиток також підходить).</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                                <a class="information-link" data-toggle="modal" data-target="#support-modal">Служба підтримки</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
