<div class="container-fluid content">
    <div class="content">
        <div class="row">
            <div class="col-md-12">

                <h2>Підсистема статистики</h2>
                <div class="initButtonsWrapper textCentre main-menu">
                    <div class="row">
                        <a href="/#/statistic-zkm">
                            <div class="col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 initButtons">
                                <i class="fa fa-book fa-3x"></i>
                                <p>Забезпечення кредитного модуля</p>
                            </div>
                        </a>
                        <a href="/#/statistic-npp">
                            <div class="col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 initButtons">
                                <i class="fa fa-briefcase fa-3x"></i>
                                <p>Навантаження НПП</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>