<breadcrumbs>
  <!--<span>Модулі</span> >--> <span>Адміністрування</span> > <span>Статистика</span> > <b>Забезпечення кредитного
  модуля</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">
      <h1>Забезпечення кредитного модуля</h1>
    </div>
  </div>

  <div class="row">

    <statistic-input></statistic-input>


    <div class="col-md-6">
      <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId"
         download="Забеспечення кредитного модуля.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'table-for-download', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт (Всі розділи)
      </a>

      <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId"
         download="Забеспечення кредитного модуля РОЗДІЛ 1.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'section1', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 1)
      </a>

      <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId"
         download="Забеспечення кредитного модуля РОЗДІЛ 2.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'section2', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 2)
      </a>

      <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId"
         download="Забеспечення кредитного модуля РОЗДІЛ 3.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'section3', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 3)
      </a>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 ">
      <div id="zkmWrapper">

      </div>
    </div>
  </div>
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a>РОЗДІЛ 1. Статистичні дані по {{cathedraNameDV}}, що сама себе забезпечує, тобто сама собі читає кредитні модулі(КМ).</a></li>
        <li role="presentation" ><a>РОЗДІЛ 2. Статистичні дані по {{cathedraNameDV}}, для якої читають інші кафедри університету.</a></li>
        <li role="presentation" ><a>РОЗДІЛ 3. Статистичні дані по {{cathedraNameDV}}, яка читає іншим кафедрам університету.</a></li>
    </ul>

  <div class="hidden">
    <table class="table" id="table-for-download">
    </table>
  </div>

</div>