<breadcrumbs>
  <!--<span>Модулі</span> >--> <span>Адміністрування</span> > <span>Статистика</span> > <b>Забезпечення кредитного
  модуля</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">
      <h1>Забезпечення кредитного модуля</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <ui-select ng-model="$parent.chosenSubdivision" append-to-body="true">
        <ui-select-match placeholder="Оберіть факультет або інститут...">
          <span ng-bind="$select.selected.subdivisionName"></span>
        </ui-select-match>
        <ui-select-choices
          repeat="subdivision in (subdivisions | filter: $select.search) track by subdivision.subdivisionId">
          <span ng-bind="subdivision.subdivisionName"></span>
        </ui-select-choices>
      </ui-select>

      <div ng-show="!!chosenSubdivision">
        <label class="topLabel">Оберіть кафедру</label>
        <ng-repeat ng-repeat="cathedra in cathedras">
          <input class="radioBtn" id="{{cathedra.cathedraId}}" name="cathedra" type="radio"
                 value='{{cathedra.cathedraId}}'
                 ng-model="chosenId" ng-click="checkZkm(cathedra.cathedraId,cathedra.cathedraName)">
          <label for="{{cathedra.cathedraId}}" class="side-label"> {{cathedra.cathedraName}}</label>
        </ng-repeat>
        <div class="alert alert-warning" ng-hide="errorLabelText===''" role="alert">{{errorLabelText}}</div>
      </div>

    </div>
    <div class="col-md-6">
        <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId" download="Забеспечення кредитного модуля.xls" href="#"
           onclick="return ExcellentExport.excel(this, 'table-for-download', 'NPP');">
          <i class="fa fa-file-excel-o "></i> Завантажини звіт (Всі розділи)
        </a>

        <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId" download="Забеспечення кредитного модуля РОЗДІЛ 1.xls" href="#"
           onclick="return ExcellentExport.excel(this, 'section1', 'NPP');">
          <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 1)
        </a>

        <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId" download="Забеспечення кредитного модуля РОЗДІЛ 2.xls" href="#"
           onclick="return ExcellentExport.excel(this, 'section2', 'NPP');">
          <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 2)
        </a>

        <a class="btn btn-default btn-block" ng-disabled="!selecteCathedraId" download="Забеспечення кредитного модуля РОЗДІЛ 3.xls" href="#"
           onclick="return ExcellentExport.excel(this, 'section3', 'NPP');">
          <i class="fa fa-file-excel-o "></i> Завантажини звіт (Розділ 3)
        </a>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 ">
      <div id="zkmWrapper">
      </div>
    </div>
  </div>

  <div class="hidden">
    <table class="table" id="table-for-download">
    </table>
  </div>

</div>
