<breadcrumbs>
  <!--<span>Модулі</span> >--> <span>Адміністрування</span> > <span>Статистика</span> > <b>Індивідуальне навантаження
  викладачів</b>
</breadcrumbs>

<div class="container-fluid content">
  <div class="row">
    <div class="col-md-12">
      <h1>Індивідуальне навантаження викладачів</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
        <ui-select ng-model="$parent.chosenSubdivision" append-to-body="true">
          <ui-select-match placeholder="Оберіть факультет або інститут...">
            <span ng-bind="$select.selected.subdivisionName"></span>
          </ui-select-match>
          <ui-select-choices
            repeat="subdivision in (subdivisions | filter: $select.search) track by subdivision.subdivisionId">
            <span ng-bind="subdivision.subdivisionName"></span>
          </ui-select-choices>
        </ui-select>

        <div class="radioBtnWrapper" ng-show="!!chosenSubdivision">
          <label class="topLabel">Оберіть кафедру</label>
          <ng-repeat ng-repeat="cathedra in cathedras">
            <input class="radioBtn" id="{{cathedra.cathedraId}}" name="cathedra" type="radio"
                   value='{{cathedra.cathedraId}}'
                   ng-model="chosenId" ng-click="checkNpp(cathedra.cathedraId)">
            <label for="{{cathedra.cathedraId}}" class="side-label"> {{cathedra.cathedraName}}</label>
          </ng-repeat>
          <div class="alert alert-warning" ng-hide="errorLabelText===''" role="alert">{{errorLabelText}}</div>
        </div>

    </div>
    <div class="col-md-6">
      <a class="btn btn-success pull-right" download="Індивідуальне навантаження викладачів.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'table-for-download', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт
      </a>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="nPPBody">

        <div class="row">
          <div class="col-md-12 ">

            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li><a href="#1" data-toggle="tab" onclick="event.preventDefault()">Перше півріччя
                (осінній семестр)</a></li>
              <li class="tabLiStyle"><a href="#2" data-toggle="tab" onclick="event.preventDefault()">Друге півріччя
                (весняний семестр)</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="{{npp.semestr}}" ng-repeat="npp in npps">
                <div class="panel panel-default" id="{{employee.id}}" ng-repeat="employee in npp.employees"
                     ng-if="employee.subjects.length!=0" ng-click="showTabById(employee.id)">
                  <div class="panel-heading panelHeadingHover"
                       ng-class="{active:employee.id==tabIdForShow}">
                    <i class="fa fa-sort-desc"></i>
                    {{employee.name}}
                    <i class="fa fa-sort-desc"></i>
                  </div>
                  <table class="table table-bordered" ng-show="tabIdForShow==employee.id">
                    <tbody>
                    <tr ng-repeat="subject in employee.subjects">
                      <td>{{subject.name}}</td>
                      <td>{{subject.groups.join('\n')}}</td>
                      <td>{{npp.semestr}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="hidden">
        <table id="table-for-download">
          <tr>
            <th colspan="3">Перше півріччя (осінній семестр)</th>
          </tr>
          <tbody id="semester1">

          </tbody>
          <tr>
            <th colspan="3">Друге півріччя (весняний семестр)</th>
          </tr>
          <tbody id="semester2">

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
