<breadcrumbs>
  <!--<span>Модулі</span> >--> <span>Адміністрування</span> > <span>Статистика</span> > <b>Індивідуальне навантаження
  викладачів</b>
</breadcrumbs>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Індивідуальне навантаження викладачів</h1>
    </div>
  </div>
  <statistic-input></statistic-input>

    <div class="col-md-12">
      <a class="btn btn-success pull-right"
         ng-class="{disabled:semesters == null}"
         download="Індивідуальне навантаження викладачів.xls" href="#"
         onclick="return ExcellentExport.excel(this, 'table-for-download', 'NPP');">
        <i class="fa fa-file-excel-o "></i> Завантажини звіт
      </a>
    </div>
  </div>


  <div class="row">

    <div class="col-md-12">

      <div class="nPPBody" ng-show="semesters != null">

        <div class="row">
          <div class="col-md-12">

            <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs nav-tabs-lg">
              <li><a href="#1" data-toggle="tab" onclick="event.preventDefault()">Перше півріччя
                (осінній семестр)</a></li>
              <li class="tabLiStyle"><a href="#2" data-toggle="tab" onclick="event.preventDefault()">Друге півріччя
                (весняний семестр)</a></li>
            </ul>
            <div class="tab-content tab-content_bordered">


              <div class="tab-pane" id="{{$index+1}}" ng-repeat="semesterEmployees in semesters">
                <div class="panel panel-default" id="empl{{$index}}" ng-repeat="employee in semesterEmployees"
                     ng-if="employee.subjects.length!=0" ng-click="showTabById($index)">
                  <div class="panel-heading panelHeadingHover my-panel-heading"
                       ng-class="{active:$index==tabIdForShow}">
                    <i class="fa fa-sort-desc"></i>
                    {{employee.name}}
                    <i class="fa fa-sort-desc"></i>
                  </div>
                  <table class="table table-bordered" ng-show="tabIdForShow==$index">
                    <tbody>
                    <tr ng-repeat="subject in employee.subjects">
                      <td>{{subject.name}}</td>
                      <td>{{subject.groupsNames.join('\n')}}</td>
                      <td>{{subject.year}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden" id="wrapper-for-download">
        <table id="table-for-download">
        </table>
      </div>

    </div>
  </div>
</div>
