<div class="container-fluid content">
    <div class="content">
        <div class="row">
            <div class="col-md-12">

                <h2>Модуль оцінювання викладачів</h2>
                <h3>{{ currentUser.name }}</h3>
                <table class="table table-striped table-hover">
                    <tr ng-repeat="c in criterions">
                        <td>
                            {{ c.name }}
                        </td>
                        <td>
                            <input-stars ng-model="c.mark" max="5"></input-stars>
                        </td>
                    </tr>
                </table>

                <input type="button" class="btn btn-primary" value="Зберегти" ng-click="vote()" />

            </div>
        </div>
    </div>
</div>