<div class="container-fluid content">
  <div class="content">
    <div class="row">
      <div class="col-md-12">

        <h2>Модуль оцінювання викладачів</h2>


        <ul class="list-group">
          <li class="list-group-item" ng-repeat="person in personsForVote">
            {{ person.lecturer }}
            <input-stars ng-model="person.rating" max="10"></input-stars>
            <!--<input-stars readonly ng-model="App.prop3" max="5"></input-stars>-->
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
